<div id="logo">
    <img src="../img/manage_img/logo.png"/>
</div>
<!--<ul id="gnb">-->
    <!--<li>-->
        <!--<a href="portfolioManager.html"><img src="../img/manage_img/personalInfo.png"/></a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="InformationManager.html"><img src="../img/manage_img/portfolioManage.png"/></a>-->
    <!--</li>-->
<!--</ul>-->

<div class="container">
    <div class="navbar">
        <!--<a class="menu" href="#"><i class="icon-align-justify"></i></a>-->
        <a class="link" href="#">
            <span class="active"><span class="valign"><span class="vertical"><img src="../img/manage_img/personalInfo.png"/></span></span></span>
            <span class="hover"><span class="valign"><span class="vertical"><img src="../img/manage_img/personalInfoHover.png"/></span></span></span>
        </a>
        <a class="link" href="#">
            <span class="active"><span class="valign"><span class="vertical"><img src="../img/manage_img/personalInfo.png"/></span></span></span>
            <span class="hover"><span class="valign"><span class="vertical"><img src="../img/manage_img/personalInfoHover.png"/></span></span></span>
        </a>
    </div>>
</div>