<!--사용자 포트폴리오 리스트-->
<div id="portfolio-list">
    <ul>
        <li ng-repeat="portfolio in portfolios track by $index">
            <img src="../img/testImage.png"/>

            <div class="portfolioInfo">

                <div id="description">
                    <h3>{{portfolio.title}}</h3>
                    <p>{{portfolio.description}}</p>
                </div>

                <div id="btnGroup">
                    <ul class="clearfix">
                        <li>
                            <button class='btnManage btn btn-default' ng-click="goToPortfolioEditor(portfolio._id)">에디터</button>
                        </li>
                        <li>
                             <button class='btnManage btn btn-default' ng-click="modifyPortfolio($index)">정보수정</button>
                        </li>
                        <li>
                            <button class='btnManage btn btn-default' ng-click="deletePortfolio($index)">삭제</button>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
</div>