<!--사용자 포트폴리오 리스트-->
<div id="portfolio-list">
    <!--포트폴리오 개수 정보-->
    <!--<div id="portfolioNum">총 3개의 포트폴리오가 있습니다.</div>-->

    <ul>
        <li ng-repeat="portfolio in portfolios track by $index" style="width: 250px; height: 350px">
            <div ng-click="goToPortfolio(portfolio._id)">
                <img ng-src="http://210.118.74.166:8123/portfolio/thumb/{{portfolio._id}}" onerror="this.src='../img/testImage.png'">

                <div class="portfolioInfo">

                    <div id="description">
                        <div id="title">{{portfolio.title}}</div>
                        <p>{{portfolio.description}}</p>
                    </div>
                </div>
            </div>
            <div id="editGroup" class="dropdown">
                <button id="editBtn" data-toggle="dropdown" class="btn btn-default" href="#"></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        
                    <li><a ng-click="goToPortfolioEditor(portfolio._id)">에디터</a></li>
                    <li><a ng-click="modifyPortfolio($index)">설명수정</a></li>
                    <li><a ng-click="deletePortfolio($index)">삭제</a></li>
                    <li><a ng-click="sharePortfolio(portfolio._id)">공유</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>