<form class="form-horizontal" role="form">
    <div class="col-md-12" style="margin: 20px 0 20px 0; font-size: 20px; font-weight: 700; color: #d53d3d; text-align: left">대학교</div>
    <!--학교명, 소재지-->
    <div class="form-group row">
        <label for="lbl_university_name" class="col-md-2 control-label">학교명</label>
        <div class="col-md-5" id="lbl_university_name">
            <input type="text" class="form-control" placeholder="학교명" ng-model="univSchoolInfoItem.S_name">
        </div>

        <label for="lbl_university_address" class="col-md-1 control-label">소재지</label>
        <div class="col-md-2" id="lbl_university_address">
            <input type="text" class="form-control" placeholder="소재지" ng-model="univSchoolInfoItem.S_address">
        </div>
    </div>

    <!--전공명-->
    <div class="form-group">
        <label for="lbl_university_major" class="col-md-2 control-label">전공명</label>

        <div class="col-md-5" id="lbl_university_major">
            <input type="text" class="form-control" placeholder="전공명" ng-model="univSchoolInfoItem.S_major">
        </div>
    </div>

    <!--재학기간, 졸업여부-->
    <div class="form-group">
        <label for="lbl_university_term" class="col-md-2 control-label">재학기간</label>
        <!--<div class="col-md-2" id="lbl_university_term">-->
            <!--<button class="k-button" ng-click="win_university_term_start.center(); win_university_term_start.open();">{{univSchoolInfoItem.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~-->
            <!--<button class="k-button" ng-click="win_university_term_end.center(); win_university_term_end.open();">{{univSchoolInfoItem.T_term.end | date:"yyyy년 MM월 dd일"}}</button>-->
        <!--</div>-->
        <div id="lbl_university_term" class="col-md-6 row" style="width: 400px">
            <!--시작 날짜-->
            <div class="col-md-2" style="padding-right: 0; width: 172px">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{univSchoolInfoItem.T_term.start | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="win_university_term_start.center(); win_university_term_start.open();">달력</button>
                    </span>
                </div>
            </div>
            <div class="col-md-1" style="width: 24px; height: 34px; line-height: 34px; padding: 0">~</div>
            <!--종료 날짜-->
            <div class="col-md-2" style="padding-left: 0; width: 172px">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{univSchoolInfoItem.T_term.end | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="win_university_term_end.center(); win_university_term_end.open();">달력</button>
                    </span>
                </div>
            </div>
        </div>
        <div kendo-window="win_university_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="univSchoolInfoItem.T_term.start" k-on-change="win_university_term_start.close()"></kendo-calendar>
        </div>
        <div kendo-window="win_university_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="univSchoolInfoItem.T_term.end" k-on-change="win_university_term_end.close()"></kendo-calendar>
        </div>

        <!--졸업여부-->
        <div class="col-md-2" style="height: 34px">
            <label style="height: 34px"><input type="checkbox" name="graduate" ng-model="univSchoolInfoItem.B_graduate">졸업여부</label>
        </div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addUnivSchoolInfo()">추가</button>
    </div>

    <hr style="border-color: #d6d6d6">

    <div ng-repeat="item in univSchoolInfoItems track by $index">
        <!--학교명, 소재지-->
        <div class="form-group row">
            <label for="lbl_university_name_load" class="col-md-2 control-label">학교명</label>
            <div class="col-md-2" id="lbl_university_name_load">
                <input type="text" class="form-control" placeholder="학교명" ng-model="item.S_name">
            </div>

            <label for="lbl_university_address_load" class="col-md-1 control-label" style="width: 100px">소재지</label>
            <div class="col-md-2" id="lbl_university_address_load">
                <input type="text" class="form-control" placeholder="소재지" ng-model="item.S_address">
            </div>
        </div>

        <!--재학기간, 졸업여부-->
        <div class="form-group">
            <label for="lbl_university_term_load" class="col-md-2 control-label">재학기간</label>
            <div class="col-md-2" id="lbl_university_term_load">
                <button class="k-button" ng-click="win_university_term_start.center(); win_university_term_start.open();">{{item.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~
                <button class="k-button" ng-click="win_university_term_end.center(); win_university_term_end.open();">{{item.T_term.end | date:"yyyy년 MM월 dd일"}}</button>
            </div>
            <div kendo-window="win_university_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.start" k-on-change="win_university_term_start.close()"></kendo-calendar>
            </div>
            <div kendo-window="win_university_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.end" k-on-change="win_university_term_end.close()"></kendo-calendar>
            </div>
            <div class="col-md-2">
                <label><input type="checkbox" name="graduate" ng-model="item.B_graduate">졸업여부</label>
            </div>
        </div>

        <!--전공명-->
        <div class="form-group">
            <label for="lbl_university_major_load" class="col-md-2 control-label">전공명</label>

            <div class="col-md-2" id="lbl_university_major_load">
                <input type="text" class="form-control" placeholder="전공명" ng-model="item.S_major">
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delUnivSchoolInfo($index)">삭제</button>
        </div>
    </div>
</form>