<form class="form-horizontal" role="form">
    <div class="col-md-12" style="margin: 20px 0 20px 0; font-size: 20px; font-weight: 700; color: #d53d3d; text-align: left">대회 수상</div>
    <!-- 대회명 -->
    <div class="form-group row">
        <label for="lbl_award_name" class="col-md-2 control-label">대회명</label>
        <div class="col-md-4" id="lbl_award_name">
            <input type="text" class="form-control"  placeholder="대회명" ng-model="awardInfoItem.S_name">
        </div>

        <!-- 주최기관 -->
        <label for="lbl_award_host" class="col-md-2 control-label">주최기관</label>
        <div class="col-md-3" id="lbl_award_host">
            <input type="text" class="form-control"  placeholder="주최기관" ng-model="awardInfoItem.S_host">
        </div>
    </div>

    <!-- 작품명 -->
    <div class="form-group row">
        <label for="lbl_award_title" class="col-md-2 control-label">작품명</label>
        <div class="col-md-4" id="lbl_award_title">
            <input type="text" class="form-control"  placeholder="작품명" ng-model="awardInfoItem.S_title">
        </div>

        <!-- 수상년월 -->
        <label for="lbl_award_date" class="col-md-2 control-label">수상년월</label>

        <div class="col-md-3" id="lbl_award_date">
            <div class="input-group">
                <input type="text" class="form-control" value="{{awardInfoItem.D_date | date:'yyyy.MM.dd'}}" readonly/>
                <span class="input-group-btn">
                   <button class="btn btn-default" type="button" ng-click="win_award_date.center(); win_award_date.open();" style="height: 34px; box-sizing: border-box"><img src="../img/information_img/calendarIcon.png" style="width: 16px; padding-bottom: 3px"/></button>
                </span>
            </div>
        </div>

        <div kendo-window="win_award_date" k-title="'Choose Your Birthday'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="awardInfoItem.D_date" k-on-change="win_award_date.close()"></kendo-calendar>
        </div>
    </div>



    <!-- 상세정보 -->
    <div class="form-group">
        <label for="lbl_award_detail" class="col-md-2 control-label">상세정보</label>
        <div class="col-md-9" id="lbl_award_detail">
            <textarea class="form-control" ng-model="awardInfoItem.S_detail"></textarea>
        </div>
    </div>

    <!--추가 버튼-->
    <div class="myContentAdd">
        <button type="button" class="btn btn-default" ng-click="addAwardInfo()">+</button>
    </div>

    <hr style="border-color: #d6d6d6">

    <div ng-repeat="item in awardInfoItems track by $index" class="myContent">
        <!-- 대회명 -->
        <div class="form-group">
            <label for="lbl_award_name_load" class="col-md-2 control-label">대회명</label>
            <div class="col-md-4" id="lbl_award_name_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_name}}</div>

            <!-- 주최기관 -->
            <label for="lbl_award_host_load" class="col-md-2 control-label">주최기관</label>
            <div class="col-md-4" id="lbl_award_host_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_host}}</div>
        </div>

        <!-- 작품명 -->
        <div class="form-group">
            <label for="lbl_award_title_load" class="col-md-2 control-label">작품명</label>
            <div class="col-md-4" id="lbl_award_title_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_title}}</div>


            <!-- 수상년월 -->
            <label for="lbl_award_date_load" class="col-md-2 control-label">수상년월</label>
            <div class="col-md-2" id="lbl_award_date_load" style="text-align: left; height: 34px; line-height: 34px">{{item.D_date | date:"yyyy.MM.dd"}}</div>
        </div>


        <!-- 상세정보 -->
        <div class="form-group">
            <label for="lbl_award_detail_load" class="col-md-2 control-label">상세정보</label>
            <div class="col-md-4" id="lbl_award_detail_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_detail}}</div>
        </div>
        <!-- 삭제 버튼-->
        <div class="myContentCancel">
            <button type="button" class="btn btn-default" ng-click="delAwardInfo($index)"><img src="../img/information_img/infoDelIcon.png"/></button>
        </div>
    </div>
</form>