<div id="attribute">
    <!--<h3>Attribute</h3>-->
    <!--id : {{EditorData.focusId}}<br/>-->
    <!--end_zOrder : {{EditorData.end_zOrder}}<br/>-->
    <!--start_zOrder : {{EditorData.start_zOrder}}<br/><br/>-->
    <!--Z_order : {{attributeInformation.zOrder}}-->
    <!--templateState : {{EditorData.templateState}}-->

    <div class="tab-content">
        <div class="tab-pane active" id="sectionAttr">

            <div style="background-color: #f6f6f6; height: 54px; margin-bottom: 20px; box-shadow: 0 1px 4px rgba(0,0,0,0.2); padding: 9px 10px 0 15px; box-sizing: border-box;">
                <!--속성 이름-->
                <div id="itemAttrInfo" class="clearfix">
                    <h4 ng-hide="attributeInformation.itemType">{{attributeInformation.layoutComponentType}}</h4>
                    <h4>{{attributeInformation.itemType}}</h4>
                    <h4 ng-show="attributeInformation.isIndex==true || attributeInformation.isIndex==false">Paper</h4>
                </div>

                <!--수정, 삭제 버튼-->
                <div id="editBtnGrp" ng-if=attributeInformation ng-show="type != 'template' && !attributeInformation._portfolio_id">
                    <button ng-show="attributeInformation.layoutComponentType === 'article'"  id="articleEditBtn" class="btn btn-default"
                             ng-click="editArticle()">
                        <img src="../img/editor_img/articleEditBtn.png" style="margin-right: 3px;"/>수정
                    </button>

                    <button id="itemDelBtn" class="btn btn-default"
                            ng-click="deleteItem(attributeInformation._id)">
                        <img src="../img/editor_img/itemDelBtn.png" style="margin-right: 3px; width: 13px"/>삭제
                    </button>
                </div>
            </div>

            <ul id="itemAttrList">
                <!----------------------< 순서를 바꿀수 있도록 바뀐 속성 리스트 >--------------------->

                <li ng-if=" (attributeInformation.bindingType || attributeInformation.bindingType==='') && !(attributeInformation.bindingType.title === '기본정보' || attributeInformation.bindingType.title === '추가정보') ">
                    <div binding-attribute to="attributeInformation" type="type"></div>
                </li>

                <li ng-if="attributeInformation.thumbnail || attributeInformation.thumbnail==='' ">
                    <div thumbnail-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.title || attributeInformation.title===''">
                    <div title-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="type ==='template'">
                    <div title-attribute to="parentArray"></div>
                </li>

                <li ng-if="attributeInformation.description || attributeInformation.description==='' ">
                    <div description-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.value || attributeInformation.value==='' ">
                    <div value-attribute to="attributeInformation"></div>
                </li>

                <!--<li ng-if="(attributeInformation.name || attributeInformation.name==='' ) && attributeInformation.itemType !== 'image'">-->
                    <!--<div name-attribute to="attributeInformation"></div>-->
                <!--</li>-->

                <li ng-if="attributeInformation.url || attributeInformation.url==='' ">
                    <div url-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.arrow || attributeInformation.arrow==='' ">
                    <div arrow-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.shapeType || attributeInformation.shapeType==='' ">
                    <div shape-type-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.size || attributeInformation.size==='' " ng-hide="attributeInformation.layoutComponentType === 'article' && type !== 'template'">
                    <div size-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.pos || attributeInformation.pos==='' " ng-hide="attributeInformation.layoutComponentType === 'article' && type === 'template'">
                    <div pos-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.fill || attributeInformation.fill==='' " class="att_list" ng-hide="attributeInformation.layoutComponentType === 'article' && type !== 'template'">
                    <div fill-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.outline || attributeInformation.outline==='' " class="att_list" ng-hide="attributeInformation.layoutComponentType === 'article' && type !== 'template'">
                    <div outline-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.alpha || attributeInformation.alpha==='' || attributeInformation.alpha===0 " ng-hide="attributeInformation.layoutComponentType === 'article' && type !== 'template'">
                    <div alpha-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.radius || attributeInformation.radius==='' || attributeInformation.radius===0" ng-hide="attributeInformation.layoutComponentType === 'article' && type !== 'template' && attributeInformation.layoutComponentType === 'article'">
                    <div radius-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.rotate || attributeInformation.rotate==='' || attributeInformation.rotate===0">
                    <div rotate-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.font || attributeInformation.font==='' " class="att_list">
                    <div font-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.align || attributeInformation.align==='' ">
                    <div align-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.vAlign || attributeInformation.vAlign==='' ">
                    <div vertical-align-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="attributeInformation.isIndex || attributeInformation.isIndex==='' || attributeInformation.isIndex===false">
                    <div is-index-attribute to="attributeInformation"></div>
                </li>

                <li ng-if="(attributeInformation.rowCount || attributeInformation.rowCount==='' || attributeInformation.rowCount===0) && !(attributeInformation.bindingType.title === '기본정보' || attributeInformation.bindingType.title === '추가정보')" ng-hide="attributeInformation.layoutComponentType === 'article'">
                    <div rowcol-attribute to="attributeInformation"></div>
                </li>


                <!--z-index 설정버튼-->
                <div id="zIndexForm">
                    <label for="zIndex">z축</label>
                    <div id="zIndex" ng-if=attributeInformation ng-show="type != 'template' && !attributeInformation._portfolio_id">
                        <button class="btn btn-default"
                                ng-click="goFront()">앞으로
                        </button>

                        <button class="btn btn-default"
                                ng-click="goBack()">뒤로
                        </button>

                        <button class="btn btn-default"
                                ng-click="goEnd()">맨앞으로
                        </button>

                        <button class="btn btn-default"
                                ng-click="goFirst()">맨뒤로
                        </button>
                    </div>
                </div>
            </ul>
        </div>

        <div class="tab-pane" id="articleAttr">article attribute</div>
        <div class="tab-pane" id="itemAttr">item attribute</div>
    </div>
</div>