body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border-style:none;
}

body {
    width:100%;
    background-color: #fff;
    font-family: arial, sans-serif;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.wrapper {
    margin:0 auto;
    width:960px
}

#header {
    width: 100%;
    height:500px;
    background-size: cover;
    background-color:#10152c;
}

#headerInner {
    padding-top: 25px;
    width: 960px;
    height: 500px;
    background-image: url('../img/index_img/index_bg.png');
    background-repeat: no-repeat;
}

#headerInner #logo {

}

#headerInner .member {
    float: right;
    color: #fff;
    font-size: 17px;
    margin-left: 40px;
    line-height: 29px;
}

#content {
    text-align: center;
    height: 350px;
}

#content #infoList > li {
    float: left;
    margin-right: 267px;
}

#content #infoList {
    display: inline-block;
    width: 1227px;
    margin: 30px 0;
}

#content #infoList > li a {
    color: #fff;
    font-size: 25px;
    line-height: 200px;
}

#about {
    position: relative;
    background-color: #6eccd2;
    width: 100%;
    height: 795px;
}

#about #careerbox {
    position: absolute;
    right: 0;
    top: 35px
}

#about #computer {
    position: absolute;
    bottom: 35px;
    right: 50px;
}

#about #definition {
    position: absolute;
    left: 40px;
    top: 260px;
}

#sample {
    position: relative;
    background-color: #ee9099;
    width: 100%;
    height: 795px;
}

#sample #sampleTitle {
    position: absolute;
    left: 30px;
    top: 35px;
}

#sample #sampleDescription {
    position: absolute;
    right: 40px;
    top: 260px;
    
}

#sample #sampleBtn {
    position: absolute;
    bottom: 230px;
    right: 90px;
}

#sample #sampleBtn > li {
    float: left;
    margin-left: 50px;
}

#sample #samplePaper {
    position: absolute;
    top: 270px;
    left: 220px;
}

/*샘플 이미지 보여줄 영역*/
#samplePaperImg {
    width: 380px;
    height: 285px;
    position: absolute;
    top: 290px;
    left: 242px;
}