body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border-style:none;
}

body {
    width:100%;
    background-color: #fff;
    font-family: arial, sans-serif;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.wrapper {
    margin:0 auto;
    width:960px
}

#header {
    width: 100%;
    height:500px;
    background-size: cover;
    background-color:#10152c;
}

#headerInner {
    padding-top: 25px;
    width: 960px;
    height: 500px;
    background-image: url('../img/index_img/index_bg.png');
    background-repeat: no-repeat;
}

#headerInner #logo {

}

#headerInner .member {
    float: right;
    color: #fff;
    font-size: 17px;
    margin-left: 40px;
    line-height: 29px;
}

#content {
    text-align: center;
}

#content #infoList > li {
    float: left;
    margin-right: 267px;
}

#content #infoList {
    display: inline-block;
    width: 1227px;
    margin: 25px 0;
}

#content #infoList > li a {
    color: #fff;
    font-size: 25px;
    line-height: 200px;
}