@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #e7e7e7;
}

div, h1, h2, h3 , ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:none
}
a {
    text-decoration:none;
    color: #4894c9;
    font-family: 'Nanum Gothic', serif;
    font-weight:800;
    float: right;
}
img {
    border-style:none
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

#joinForm {
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 150px;
    width: 500px;
    height: 530px;
    box-shadow: 0 0 8px #888;
}

#joinForm #joinFormInner {
    padding: 40px 57.5px;
}

#joinForm span {
    color: #a3a3a3;
    font-family: 'Nanum Gothic', serif;
}

#joinForm .joinInput {
    width: 385px;
    height: 40px;
    margin: 0 0 8px 0;
}

#joinForm .submitBtn {
    width: 385px;
    height: 50px;
    margin: 30px 0 20px 0;
    background-image: url('../img/signup_img/signup.png');
    border-style: none;
}

#joinForm #joinHeader #logo{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    color: #fff;
    font-family:'arial';
    font-size: 15px;
    color: #fff;
    width: 100px;
    border: solid 1px #fff;
    padding: 5px;
    text-align: center;
}

#joinForm h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

