@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    /*width: 100%;*/
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #e7e7e7;
}

div, h1, h2, h3 , ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:none
}
a {
    text-decoration:none
    color: #10152c;
}
img {
    border-style:none
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

#loginForm {
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 120px;
    width: 500px;
    height: 540px;
    text-align: center;
    box-shadow: 0 0 8px #888;
}

#loginForm .userInput {
    display: inline-block;
    width: 385px;
    height: 40px;
    margin: 40px 0 0 0;
}

/*#loginForm input[type=email] {*/
    /*background-image: url('./img/login_img/id_icon.jpg');*/
    /*background-repeat: no-repeat;*/
/*}*/

#loginForm .submitBtn {
    display: inline-block;
    width: 385px;
    height: 50px;
}

#loginForm button[type=submit] {
    background-image: url('../img/login_img/login.png');
    border-style: none;
    margin: 40px 0 20px 0;
}

#loginForm button[type=button] {
    background-image: url('../img/login_img/facebook_login.png');
    border-style: none;
    margin: 20px 0 20px 0;
}

#loginForm a{
    color: #4894c9;
    font-family: 'Nanum Gothic', serif;
}

