@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: scroll;
    background-image: url('../img/manage_img/bgPattern3.png');
    background-repeat: repeat;

    font-family: 'Nanum Gothic', sans-serif;
}

div, h1, h2, h3 , ul, li, p{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
}

img {
    border-style:none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*컨텐츠 부분 너비는 메뉴 제외한 100%*/
#content {
    text-align: center;
    padding-top: 50px;
    margin-left: 240px;
}

/*상단 사용자 정보 css*/
#content #user-info {
    width: 100%;
    height: 120px;
    background-color: #eeeeee;
    text-align: center;
}

#content #user-info h2{
    font-family:'arial';
    line-height: 120px;
}

/*정보 입력 div 너비 지정*/
#content #information-content {
    margin: 0 auto;
    width: 900px;
}

/*personalInformation : 기본정보*/
#personalInfoForm {
    margin-right: 0;
    margin-left: 0;
}

#personalInfoForm #lbl_personal_name > .form-group{
    float:  left;
}



/*tab 디자인*/
#informationTab {
    overflow: auto;
    width: 100%;
    list-style: none;
    box-shadow: -1px 4px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

#informationTab li {
    margin: 0;
    padding: 0;
    float: left;
    width: 112.5px;
}

#informationTab a {
    width: 112.5px;
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #10152c;
    background: linear-gradient(220deg, transparent 10px, #10152c 10px);
    /*text-shadow: 0 1px 0 rgba(0,0,0,.5);*/
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#informationTab a:hover {
    background: #3199cd;
    background: linear-gradient(220deg, transparent 10px, #3199cd 10px);
}

#informationTab a:focus {
    outline: 0;
}

#informationTab #current a {
    background: #fff;
    background: linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;
    color: #333;
}

#tabContent {
    background-color: #fff;
    /*background-image:         linear-gradient(top, #fff, #ddd);*/
    border-radius: 0 3px 3px 3px;
    box-shadow: -1px 1px 6px rgba(0,0,0,0.2);
    padding: 30px;
}

#tabContent > div {
    height: auto;
}


/*파일첨부*/
.fileInputText {
    /*float: left;*/
    border-style: none;
    display: inline-block;
    text-align: center;
}

.fileInputTextBorder {

}

.fileInputDiv {
    position: relative;
    width: 100px;
    height: 34px;
    overflow: hidden;
    display: inline-block;
}

.fileInputHidden {
    font-size: 23px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
}

.fileInputButton {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    /*background-color: #33bb00;*/
    /*color: #fff;*/
    /*border-style: solid;*/
    cursor: pointer;
}

.fileInputHidden {
    font-size: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;

    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.k-progress-status-wrap > span {
    visibility: hidden;
}

.k-progressbar .k-state-selected {
    background-color: #e74f70 !important;
    border-color: #e74f70 !important;
}

.radioBtn > label {
    margin-right: 8px;
}

.moveBtn {
    margin-top: 85px;
}

.myContent {
    background-color: #f8f8f8;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.myContent .myContentCancel {
    position: absolute;
    top: 10px;
    right: 10px;
    /*border-radius: 100%;*/
    /*padding-left: 11px;*/
    /*box-shadow: 1px 1px 2px rgba(0.0.0.0.3);*/

}

.myContent .btn-default {
    height: 36px;
    border-radius: 100%;
    padding-left: 11px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-style: none;
}

.myContent .myContentCancel img {
    width: 15px;
    padding-bottom: 2px;
}

.myContentAdd {
    margin-top: 55px;
}

.myContentAdd .btn-default {
    border-radius: 100%;
    width: 38px;
    height: 38px;
    font-size: 25px;
    border-style: none;
    color: #10152c;
    background-color: #efefef;
    padding: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.moveBtn .nextBtn.btn-default, .preBtn.btn-default {
    width: 14px
    background-color: transparent;
    border-style: none;
}

.saveBtn.btn-default {
    width: 80px;
    background-color: rgba(16,21,44,0.9);;
    border-style: none;
    /*font-weight: 600;*/
    color: #fff;
    margin: 0 30px;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.3);*/

}

.k-notification-wrap > span.k-icon {
    visibility: hidden;
}

.k-notification-wrap {
    height: 37px !important;
    padding: 0 !important;
    line-height: 37px !important;

}

.k-notification-wrap > span {
    width: 35px;
    margin-bottom: -10px;
    height: 37px !important;
    padding: 0 !important;
    line-height: 37px !important;
}

.k-notification {
    background-color: #3be !important;
    height: 37px !important;
    width: 165px !important;
    border-radius: 100px !important;
    font-size: 16px;
    padding: 0 !important;
    line-height: 37px !important;

}

.k-animation-container {
    height: 37px !important;
    padding: 0 !important;
    line-height: 37px !important;
}

