@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: 'nanum gothic';
}

div, h1, h3 , ul, li, pre {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:none
}
a {
    text-decoration:none
}
img {
    border-style:none
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

#top-pane {
    height: 50px;
    background-color:#05091c;
    position: relative;
    z-index: 1;
    text-align: center;
}

#top-pane #logoWrapper {
    padding-top: 8px;
    display: inline-block;
}

#top-pane #etcWrapper {
    display: inline-block;
    position: absolute;
    right: 40px;
}

#top-pane #etcWrapper > ul > li {
    display: inline-block;
    line-height: 50px;
    float: left;
    margin-right: 40px;
}

#top-pane h1 {
    line-height: 50px;
    color: #fff;
    font-family:'arial'

}

/*#body {*/
    /*min-height: 100%;*/
    /*margin: -100px 0 -50px;*/
/*}*/
* html #body {
    height: 100%;
}

#bottom-pane {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    border-style: none;
    box-sizing: border-box;
}

#bottom-pane #pageEditor {
    min-width: 300px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 50px;
}

#bottom-pane #pageEditor .newBtn {
    background-color: #10152c;
    border-style: none;
    margin: 0 10px;
}

#bottom-pane #pageEditor .pageNum {
    width: 135px;
}

#bottom-pane #pageEditor #pageSelect ul li a {
    height: 40px;
}

#bottom-pane #pageEditor #pageSelect ul li a span {
    line-height: 40px;
}

.delete {
    padding: 0px;
    width: 24px;
    height: 24px;
}

#bottom-pane #pageEditor #pageSelect ul li a .delBtn {
    float: right;
    margin-top: 8px;
}

#bottom-pane #page #canvasWrapper {
    border-style: none;
}


#bottom-pane #page #stateBar {
    background: #f9f9f9;
    padding: 10px;
    /*box-shadow: 0px 2px 4px rgba(0,0,0,0.9);*/
}
/*canvas 내부 스크롤 생기는 문제*/
/*#bottom-pane #page #canvas-box {*/
    /*margin-top: -54px;*/

/*}*/

/*#canvas-content {*/
    /*height: 1000px;*/
    /*overflow: scroll;*/
/*}*/

#bottom-pane #page #stateBar #stateGroup ul li {
    float: left;
}

#bottom-pane #page #stateBar #stateGroup ul li pre {
    padding: 5px;
    margin-right: 5px;
}

#bottom-pane #page #stateBar #stateGroup {
    float: left;
}

#bottom-pane #page #stateBar #btnGroup {
    float: right;
}


#articleTemplateArea{
    padding: 20px;
    text-align: center;
}

#articleTemplateList{
    text-align: center;
}

#btnAddArticleTemplate{
    width: 200px;
}

#editorBody{

}


/*drag 존*/
#drag-box {
    width: 250px;
    height: 700px;
    float: left;
    margin: 20px 5px 20px 20px;
}

#drag-box #drag-title {
    background-color: #60b59f;
    height: 50px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    line-height: 50px;
}

#drag-box #drag-content {
    height: 650px;
    border: solid 3px #60b59f;
    text-align: center;
}

.element {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: #dddddd;
    border: solid 2px #c8c8c8;
    border-radius: 10px;
    /*margin-top: 30px;*/
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.ui-resizable {
    /*position: absolute;*/
    position: absolute;
    display: inline-block !important;
}

.element h3{
    color: #838383;
    font-family: 'Open Sans', sans-serif;
}

/********************************************************************/
/*#canvas-box {*/
    /*width: 100%;*/
    /*height: calc(100% - 54px);*/
    /*background-color: #eeeeee;*/
    /*overflow: auto;*/
/*}*/

/*#canvas-box #canvas-content {*/
    /*position: relative;*/
    /*width: 600px;*/
    /*height: 400px;*/
    /*background-color: #ffffff;*/
/*}*/

.editzoneWrapper {
    width: 100%;
    height: calc(100% - 54px);
    background-color: #d9d9d9;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;

}

.editzoneWrapper .editzone {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.editzoneWrapper .paper {
    width: 960px ;
    height: 1358px ;
    box-shadow: -1px -1px 5px rgba(0,0,0,0.2);
}

.drop-target {
    background-color: #29e;
}

.drag-drop {
    transition: background-color 0.3s;
}

.can-drop {
    background-color: #4e4;
}
#header {
    margin-top: 20px;
}

#footer {
    margin-top: 750px;
    text-align: right;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    position: absolute;
}

#articleTemplateArea #btnAddArticleTemplate {
    margin-bottom: 30px;
}

#articleTemplateArea > #articleTemplateList {
    width: 220px;
    margin: 0 auto;
}

#articleTemplateArea > #articleTemplateList > li{

    position: relative;
    margin-bottom: 40px;
}

#articleTemplateArea #articleTemplateList .description {
    margin: 15px 0;
}

#articleTemplateArea #articleTemplateList #editGroup {
    position: absolute;
    top: 10px;
    right: 5px;
}

#articleTemplateArea #articleTemplateList #editGroup .dropdown-menu {
    min-width: 75px;
}

#articleTemplateArea #articleTemplateList #editGroup .dropdown-menu li {
    text-align: center;
}

#articleTemplateArea #articleTemplateList #editGroup .dropdown-menu li {
    cursor: pointer;
}

 #itemTemplateArea > #itemTemplateList {
    width: 85%;
    min-width: 250px;
    margin: 0 auto;
    text-align: center;


}

#itemTemplateArea > #itemTemplateList li {
    margin: 20px;
    width: 85px;
    float: left;

    display: inline-block;
}

#TemplateEditor #itemEditorArea > ul {

    width: 85%;
    min-width: 250px;
    margin: 0 auto;
    text-align: center;
}

#TemplateEditor #itemEditorArea > ul > li {

    margin: 20px;
    width: 85px;
    float: left;

    display: inline-block;
}

.itemText {
}

.itemLink {
    background-color: #eeeeee;
}

#shareLink {
    text-decoration: underline;
    color: #0000ff;
}

.itemImage .ui-wrapper {
    overflow: visible !important;
}

.itemShape {
}

/*************************************************************************************************/
/*속성창 css*/

/*속성창 타이틀*/
#attribute > h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

/*item type 이름 & 삭제 버튼*/
#attribute #sectionAttr #itemAttrInfo > h3{
    float: left;
}

#attribute #sectionAttr #itemAttrInfo .btn {
    float: right;
}

/*속성 리스트 ul*/
#attribute #sectionAttr > #itemAttrList {
    width: 250px;
    margin: 0 auto;
    margin-top: 13px;
}

#attribute #sectionAttr > #itemAttrList > li{
    margin: 25px 0;
}

/*속성창 input css*/
.attrInput {
    width: 35px;
    height: 15px;
    display: inline-block;
}

/*pos, size 속성*/
#posForm > li, #sizeForm > li {
    width: 125px;
    float: left;
}

/*outline 속성*/
#outlineForm ,#weightForm {
    width: 125px;
    float: left;
    display: inline-block;
}

#arrowForm > li {
    margin-bottom: 25px;
}

#fontForm .fontElement {

    margin-bottom: 25px;
}

#fontForm #fontOptionForm #fontFamilyInput {
    width: 65px;
}


/*editor article, item tab*/
#SectionEditorTab {
    overflow: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#SectionEditorTab li {
    box-shadow: 4px 0 0 rgba(0, 0, 0, .2);
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    text-align: center;
}

#SectionEditorTab a {

    background: #10152c;
    background: linear-gradient(135deg, transparent 10px, #10152c 10px);
    /*text-shadow: 0 1px 0 rgba(0,0,0,.5);*/
    color: #fff;
    float: left;
    font-size: 14px;
    font-family: 'nanum gothic';
    font-weight: 700;
    width: 100%;
    height: 35px;
    line-height: 35px;
    /*padding: 0 30px;*/
    text-decoration: none;
}

#SectionEditorTab img {
    margin-right: 10px;
}


#SectionEditorTab a:hover {
    background: #c93434;
    background: linear-gradient(135deg, transparent 10px, #c93434 10px);
    text-decoration: none;

}

#SectionEditorTab a:focus {
    outline: 0;
}

.k-splitbar {
    background-color: #05091c;
    border-style: none;
}

#SectionEditorTab #current a {
    background: #fff;
    background: linear-gradient(135deg, transparent 10px, #fff 10px);
    text-shadow: none;
    color: #000;
}

#content {
    background-color: #fff;
    background-image:         linear-gradient(top, #fff, #ddd);
    border-radius: 0 2px 2px 2px;
    /*box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;*/
    /*padding: 30px;*/
}

.k-color-value{
    color: #000000;
}



/*속성창 수정, 삭제 버튼*/
#itemAttrInfo {
    font-family: 'nanum gothic';
    font-weight: 800;
    display: inline-block;
}

#itemAttrInfo h3 {
    line-height: 37px;
}


#editBtnGrp {
    float: right;
}

#articleEditBtn {
    background-image: url('../img/editor_img/articleEditBtn.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 32px;
    padding: 0;
    border-color: #3199cd;
}

#itemDelBtn {
    background-image: url('../img/editor_img/itemDelBtn.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 32px;
    padding: 0;
    border-color: #eb5373;
}

/*tooltip*/
.k-widget .k-tooltip {
    width: 80px;
    height: 20px;
    line-height: 20px;
    border-style: none;
    background-color: #47bdf8;
}