@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    margin:0;
    padding:0;
    height: 100%;
    /*background-color: #ececec;*/
    background-image: url('../img/manage_img/bgPattern3.png');
    background-repeat: repeat;
    font-family: 'Nanum Gothic', sans-serif;
}

div, h1, h2, h3 , h4, ul, li, p{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
}

img {
    border-style:none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*컨텐츠 부분 너비는 메뉴 제외한 100%*/
#content {
    text-align: center;
    margin-left: 240px;
    height: calc(100% - 120px);
}

/*상단 사용자 정보 css*/
#content #user-info {
    position: relative;
    width: 100%;
    height: 110px;
    /*background-color: #e3f0f7;*/
    background-color: #f7f7f7;
    text-align: center;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
}

#content #user-info #userInfoWrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

#content #user-info h2{
    line-height: 110px;
    font-weight: 700;
    color: #040404;
}

#content #user-info #userImg {
    position: absolute;
    left: 0px;
    bottom: -81px;
    width: 172px;
    height: 172px;
    padding: 6px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

/*#content #user-info #userImg img {*/
    /*display: inline-block;*/
    /*width: 160px;*/
    /*height: 160px;*/
    /*border-radius: 100%;*/
/*}*/

/*이미지 크롭*/
#content #user-info #userImg .crop img {
    width: 160px;
    overflow: hidden;
}

#content #user-info #userImg .crop {
    width: 160px;
    height: 160px;
    overflow: hidden;
    color: #fff;
    -webkit-mask-image: url('../img/manage_img/maskCircle.png');
}

/*#content #user-info #userImg .crop .profileImg {*/
    /*width: 160px;*/
    /*height: 214px;*/
    /*margin: -27px 0 -27px 0;*/
/*}*/

/*#content #user-info #userImg img {*/
    /*border-radius: 100%;*/
/*}*/

#content #user-info #horizonLine {
    position: absolute;
    margin: 0;
    left: 475px;
    bottom: 0px;
    /*width: 680px;*/
    width: 45%;
    color: #10152c;
    border: 3px solid #10152c;

}

#content #user-info #newPortfolioBtn {
    position: absolute;
    /*width: 95px;*/
    /*height: 110px;*/
    bottom: -63px;
    right: 10px;
    cursor: pointer;
}

#content #user-info #editProfileBtn {
    position: absolute;
    /*width: 95px;*/
    /*height: 110px;*/
    bottom: -61px;
    right: 125px;
    cursor: pointer;
}

/*포트폴리오 생성 버튼*/
#content #btnNew {
    margin-top: 50px;
}

/*portfolio list - wrapper*/
#content #portfolio-list {
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: #ececec;*/
    padding-top: 35px;
}

#content #portfolio-list > #portfolioNum {
    font-family: 'Nanum Gothic', sans-serif;
    color: #797979;
    font-size: 22px;
}

/*portfolio list - ul*/
#content #portfolio-list > ul{
    display: inline-block;
    width: 900px;
    margin-top: 85px;
}

/*portfolio list - ul*/
#content #portfolio-list > ul > li {
    float: left;
    margin: 25px;
    width: 250px;
    height: 350px;
    position: relative;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
    border-radius: 4px;
    background-color: #fff;
}

#content #portfolio-list > ul > li .img{
    background-color: #666666;
    width: 250px;
    height: 350px;
    color: #fff;
}

/*포트폴리오 정보*/
#content #portfolio-list .portfolioInfo{
    background: rgba(0,0,0,0.76);
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    padding-top: 15px;
}

/*포트폴리오 부연설명*/
#content #portfolio-list .portfolioInfo #description {
    padding: 7px;
}

#content #portfolio-list .portfolioInfo #description #title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 21px;
    margin-bottom: 5px;
}

#content #portfolio-list .portfolioInfo #description > p {
    color: #a6a6a6;
}

/*포트폴리오 관리 버튼들*/
#content #portfolio-list #editGroup {
    position: absolute;
    top : 15px;
    left: 15px;
}

#content #portfolio-list #editGroup #editBtn {
    width: 46px;
    height: 48px;
    background-image: url('../img/manage_img/editBtn.png');
    background-color: transparent;
    border-style: none;

}

#content #portfolio-list #editGroup #editBtn:focus {
    outline: none;
}

#content #portfolio-list #editGroup .dropdown-menu {
    min-width: 75px;
    height: 126px;
}

#content #portfolio-list #editGroup .dropdown-menu li {
    text-align: center;
    cursor: pointer;
}

/*edit button hover*/
.dropdown:hover .dropdown-menu {
    display: block;
}


/*미디어 쿼리*/
@media only screen and (max-width : 1140px) {

    #content #portfolio-list {
        width: 100%;
        text-align: center;
    }

    #content #portfolio-list > ul {
        display: inline-block;
        width: 600px;
        margin-top: 25px;
    }

    #content #portfolio-list > ul > li {
        float: left;
        margin: 25px;
    }
}

@media only screen and (max-width : 840px) {

    #content #portfolio-list {
        width: 100%;
        text-align: center;
    }

    #content #portfolio-list > ul {
        display: inline-block;
        width: 270px;
        margin-top: 25px;
    }

    #content #portfolio-list > ul > li {
        float: left;
        margin: 20px;
    }
}

