/*좌측 메뉴 css*/
#menu {
    width: 240px;
    height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #10152c;
}

#menu #logo {
    text-align: center;
    padding: 45px 0 60px 0;
}

#menu #logo img {
    display: inline-block;
}

#menu ul {
    text-align:center;
}
#menu ul a {
    display:block;
    color:#666;
    height:30px;
    line-height:30px
}
#menu ul a:hover {
    background-color:#000;
    color:#fff;
    text-decoration: none;
}