<div>컬럼</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="form-group">
            <label for="lbl_column_title" class="col-sm-2 control-label">제목</label>
            <div class="col-sm-10" id="lbl_column_title">
                <input type="text" class="form-control"  placeholder="제목">
            </div>
        </div>

        <div class="form-group">
            <label for="lbl_column_content" class="col-sm-2 control-label">내용</label>
            <div class="col-sm-10" id="lbl_column_content">
                <input type="text" class="form-control"  placeholder="내용">
            </div>
        </div>
    <div>
        <button type="button" class="btn btn-default">추가</button>
        <button type="button" class="btn btn-default">삭제</button>
    </div>
</form>