<div style="margin: 30px 0 10px 0">컬럼</div>
<form class="form-horizontal" role="form">
    <!--제목-->
    <div class="form-group">
        <label for="lbl_column_title" class="col-md-2 control-label">제목</label>
        <div class="col-md-8" id="lbl_column_title">
            <input type="text" class="form-control"  placeholder="제목" ng-model="columnInfoItem.S_title">
        </div>
    </div>

    <!--내용-->
    <div class="form-group">
        <label for="lbl_column_content" class="col-md-2 control-label">내용</label>
        <div class="col-md-8" id="lbl_column_content">
            <textarea class="form-control" rows="3" ng-model="columnInfoItem.S_content"></textarea>
        </div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addColumnInfo()">추가</button>
    </div>

    <hr>

    <div ng-repeat="item in columnInfoItems track by $index">
        <!--제목-->
        <div class="form-group">
            <label for="lbl_column_title_load" class="col-md-2 control-label">제목</label>
            <div class="col-md-8" id="lbl_column_title_load">
                <input type="text" class="form-control"  placeholder="제목" ng-model="item.S_title">
            </div>
        </div>

        <!--내용-->
        <div class="form-group">
            <label for="lbl_column_content_load" class="col-md-2 control-label">내용</label>
            <div class="col-md-8" id="lbl_column_content_load">
                <textarea class="form-control" rows="3" ng-model="item.S_content"></textarea>
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delColumnInfo($index)">삭제</button>
        </div>
    </div>

</form>