<div id="editor">
    <div id="otherEditor">
        <div id="TemplateEditor">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#itemEditorArea">item</a></li>

                <div class="tab-pane" id="itemEditorArea">
                    <ul id="newTemplateList" class="clearfix">
                        <li>
                            <div ng-click="itemClone('text')">
                                <img src="../img/item_icon/item_text.png"/>
                            </div>
                        </li>
                        <li>
                            <div ng-click="itemClone('image')">
                                <img src="../img/item_icon/item_image.png"/>
                            </div>
                        </li>
                        <li>
                            <div ng-click="itemClone('line')">
                                <img src="../img/item_icon/item_line.png"/>
                            </div>
                        </li>
                        <li>
                            <div ng-click="itemClone('link')">
                                <img src="../img/item_icon/item_link.png"/>
                            </div>
                        </li>
                        <li>
                            <div ng-click="itemClone('shape')">
                                <img src="../img/item_icon/item_shape.png"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>