<div>장학금</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <!-- 수여 시기 -->
        <div class="form-group">
            <label for="lbl_scholarship_date" class="col-sm-2 control-label">수여 시기</label>
            <div class="col-sm-10" id="lbl_scholarship_date">
                <input type="text" class="form-control"  placeholder="년도">
                <input type="text" class="form-control"  placeholder="학기">
            </div>
        </div>

        <!-- 장학금명 -->
        <div class="form-group">
            <label for="lbl_scholarship_name" class="col-sm-2 control-label">장학금명</label>
            <div class="col-sm-10" id="lbl_scholarship_name">
                <input type="text" class="form-control"  placeholder="장학금명">
            </div>
        </div>

        <!-- 학교명 -->
        <div class="form-group">
            <label for="lbl_scholarship_shcool" class="col-sm-2 control-label">학교명</label>
            <div class="col-sm-10" id="lbl_scholarship_shcool">
                <input type="text" class="form-control"  placeholder="학교명">
            </div>
        </div>
    </div>

    <div>
        <button class="form-control">추가</button>
        <button class="form-control">삭제</button>
    </div>
</form>