<!--페이퍼 에디터-->
<div id="pageEditor">
    <!--페이지 드롭다운-->
    <div id="pageSelect" class="btn-group">
        <button type="button" class="pageNum btn btn-default">{{paperTitle}}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" data-ng-init="loadPaperList()">
            <li ng-repeat="paper in papers track by $index">
                <a href="#">
                    <span>{{paper.title}}</span>

                    <div class="delBtn">
                        <button type="button" class="delete btn btn-primary" data-toggle="button" ng-click="popDeletePaperModal(paper._id)">-</button>
                    </div>
                </a>
            </li>
            <!--<li ng-repeat="template in templates track by $index">-->
                <!--<div id="templateThumb" ng-click="templateClone(template)">-->
                    <!--<img src="../img/thumb_template.png"/>-->

                    <!--<div class="description">-->
                        <!--{{template.title}}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="editGroup" class="dropdown">-->
                    <!--  -->
                    <!--<button data-toggle="dropdown" class="btn btn-default" href="#">edit</button>-->
                    <!--  -->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                        <!--    -->
                        <!--<li><a ng-click="editTemplate(template)">수정</a></li>-->
                        <!--<li><a ng-click="deleteTemplate(template._id)">삭제</a></li>-->
                        <!--  -->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
    <!--New 페이지 생성 버튼-->
    <button type="button" class="btn btn-primary" data-toggle="button" ng-click="popCreatePaperModal()">+ New</button>
</div>