<!--페이퍼 에디터-->
<div id="pageEditor">
    <!--페이지 드롭다운-->
    <div id="pageSelect" class="btn-group">
        <button type="button" class="pageNum btn btn-default">{{paperTitle}}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" data-ng-init="loadPaperList()">
            <li ng-repeat="paper in papers track by $index">
                <a ng-click="changePage(paper._id, paper.title)">
                    <span>{{paper.title}}</span>

                    <div class="delBtn">
                        <button type="button" class="delete btn btn-primary" data-toggle="button" ng-click="popDeletePaperModal(paper._id)">-</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--New 페이지 생성 버튼-->
    <button type="button" class="newBtn btn btn-primary" data-toggle="button" ng-click="popCreatePaperModal()">+ New</button>
</div>