<!--페이퍼 에디터-->
<div id="pageEditor">
    <!--페이지 드롭다운-->

    <div id="pageSelect" class="btn-group">

        <button type="button" class="pageNum btn btn-default dropdown-toggle" data-toggle="dropdown">{{paperTitle}}
            <span class="caret" style="margin-left: 45px"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="paper in papers track by $index">
                <a ng-click="changePage(paper._id, paper.title)">
                    <span>{{paper.title}}</span>

                    <div class="delBtn" ng-hide="paper.isIndex">
                        <button type="button" class="delete btn btn-default" data-toggle="button" ng-click="popDeletePaperModal(paper._id)" style="padding: 0 border-style: none">
                            <img src="../img/editor_img/itemDelBtn.png" style="margin-bottom: 2px"/>
                        </button>
                    </div>
                    <div class="delBtn" ng-show="paper.isIndex">
                        <h6 style="padding: 0 border-style: none"><b> Index </b></h6>
                    </div>

                </a>
            </li>
        </ul>
    </div>
    <!--New 페이지 생성 버튼-->
    <button type="button" class="newBtn btn btn-primary" data-toggle="button" ng-click="popCreatePaperModal()">
    +
    </button>
        <!--<img src="../img/editor_img/newPaperIcon.png" style="margin-right: 5px; width: 13px"/>new-->
</div>