<div style="margin: 30px 0 10px 0">자격증</div>
<form class="form-horizontal" role="form">
    <!--자격증명-->
    <div class="form-group">
        <label for="lbl_certificate_name" class="col-md-2 control-label">자격증명</label>

        <div class="col-sm-3" id="lbl_certificate_name">
            <input type="text" class="form-control" placeholder="자격증명" ng-model="certificateAbilityInfoItem.S_name">
        </div>
    </div>

    <!--발행처, 취득일자-->
    <div class="form-group row">
        <label for="lbl_certificate_publisher" class="col-sm-2 control-label">발행처</label>

        <div class="col-md-3" id="lbl_certificate_publisher">
            <input type="text" class="form-control" placeholder="발행처" ng-model="certificateAbilityInfoItem.S_publisher">
        </div>

        <label for="lbl_certificate_date" class="col-md-2 control-label">취득일자</label>
        <div class="col-md-2" id="lbl_certificate_date">
            <button class="k-button" ng-click="lbl_certificate_date.center(); lbl_certificate_date.open();">{{certificateAbilityInfoItem.D_date | date:"yyyy년 MM월 dd일"}}</button>
        </div>
        <div kendo-window="lbl_certificate_date" k-title="'Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="certificateAbilityInfoItem.D_date" k-on-change="lbl_certificate_date.close()"></kendo-calendar>
        </div>
    </div>

    <!--첨부파일-->
    <div class="form-group">
        <label for="lbl_certificate_file" class="col-md-2 control-label">첨부파일</label>

        <div class="col-md-5" id="lbl_certificate_file">
            <input type="file" ng-model="certificateAbilityInfoItem.F_file">
        </div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addCertificateAbilityInfo()">추가</button>
    </div>

    <hr>

    <div ng-repeat="item in certificateAbilityInfoItems track by $index">
        <!--자격증명-->
        <div class="form-group">
            <label for="lbl_certificate_name_load" class="col-md-2 control-label">자격증명</label>

            <div class="col-sm-3" id="lbl_certificate_name_load">
                <input type="text" class="form-control" placeholder="자격증명" ng-model="item.S_name">
            </div>
        </div>

        <!--발행처, 취득일자-->
        <div class="form-group row">
            <label for="lbl_certificate_publisher_load" class="col-sm-2 control-label">발행처</label>

            <div class="col-md-3" id="lbl_certificate_publisher_load">
                <input type="text" class="form-control" placeholder="발행처" ng-model="item.S_publisher">
            </div>

            <label for="lbl_certificate_date_load" class="col-md-2 control-label">취득일자</label>
            <div class="col-md-2" id="lbl_certificate_date_load">
                <button class="k-button" ng-click="lbl_certificate_date.center(); lbl_certificate_date.open();">{{item.D_date | date:"yyyy년 MM월 dd일"}}</button>
            </div>
            <div kendo-window="lbl_certificate_date" k-title="'Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.D_date" k-on-change="lbl_certificate_date.close()"></kendo-calendar>
            </div>
        </div>

        <!--첨부파일-->
        <div class="form-group">
            <label for="lbl_certificate_file_load" class="col-md-2 control-label">첨부파일</label>

            <div class="col-md-5" id="lbl_certificate_file_load">
                <input type="file" ng-model="item.F_file">
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delCertificateAbilityInfo($index)">삭제</button>
        </div>
    </div>
</form>