<ul id="sizeForm" class="clearfix">
    <li>
        <label for="useBtnForm">Binding :</label>
        <div id="useBtnForm" class="btn-group">
            <label class="btn btn-default" ng-model="data.isBinding" btn-radio=false ng-click="clear()">안함</label>
            <label class="btn btn-default" ng-model="data.isBinding" btn-radio=true>사용</label>
        </div>
    </li>

    <li ng-show="data.isBinding == true">

        <label >Binding Type :</label>
        <!--페이퍼 에디터 : 아티클 -->
        <select ng-show="layoutType === 'acticle'" class="form-control" ng-model="index" ng-change="itemIndex()" ng-options="value for value in indexs "></select>

        <!--템플릿 에디터 : 아티클 -->
        <select ng-show="layoutType === 'template'" class="form-control" ng-model="category" ng-change="setCategory()" ng-options="category.title for (key, category) in infoCategory"></select>

        <!--템플릿 에디터 : 아이템 -->
        <select ng-show="layoutType === 'template_item'" class="form-control" ng-model="attributeName" ng-change="setAttributeName()" ng-options="value for (key, value) in attributeNames "></select>
    </li>

    <!--data.bindingType : {{data.bindingType}} <br/><br/>-->
    <!--EditorData.template.target : {{EditorData.template.target}}-->
</ul>