<ul id="sizeForm" class="clearfix">
    <!--페이퍼 에디터 : 아티클 -->
    <div ng-show="layoutType === 'acticle'">
        <li>
            <label>바인딩 타입</label>
            {{data.bindingType.title}}
        </li>
        <li>
            <label for="useBtnForm_article">바인딩</label>

            <div id="useBtnForm_article" class="btn-group">
                <label class="btn btn-default" ng-model="data.isBinding" btn-radio=false ng-click="clear()">안함</label>
                <label class="btn btn-default" ng-model="data.isBinding" btn-radio=true>사용</label>
            </div>
        </li>
        <li ng-show="data.isBinding == true">
            <label>바인딩 데이터</label>
            <button class="btn btn-default" ng-click="articleBinging(data)">선택</button>
        </li>
    </div>

    <!--템플릿 에디터 : 템플릿-->
    <div ng-show="layoutType === 'template'">
        <li>
            <label>바인딩 타입</label>

            <select ng-selected="category = infoCategory[data.bindingType.infoType]" class="form-control"
                    ng-model="category" ng-change="setCategory()"
                    ng-options="category.title for (key, category) in infoCategory"></select>
        </li>
    </div>
    <!--템플릿 에디터 : 템플릿 아이템-->
    <div ng-show="layoutType === 'template_item'">
        <li>
            <label for="useBtnForm_template_item">바인딩</label>

            <div id="useBtnForm_template_item" class="btn-group">
                <label class="btn btn-default" ng-model="data.isBinding" btn-radio=false ng-click="clear()">안함</label>
                <label class="btn btn-default" ng-model="data.isBinding" btn-radio=true>사용</label>
            </div>
        </li>

        <!-- 바인딩 사용-->
        <li ng-show="data.isBinding == true">
            <label>바인딩 타입</label>

            <select ng-selected="attributeName = attributeNames[data.bindingType]" ng-show="layoutType === 'template_item'" class="form-control" ng-model="attributeName"
                    ng-change="setAttributeName()" ng-options="value for (key, value) in attributeNames "></select>
        </li>
    </div>
</ul>