<!--<style>-->
    <!--.focus {box-shadow: 0 0 0 2px rgb( 155, 201, 199 ); }-->
<!--</style>-->
<div class="modal-header">
    <h4 class="modal-title">사진 업로드</h4>
</div>
<div class="modal-body">
    <div style="height: 500px; overflow-x:hidden; overflow-y:auto;">
        <ul style="list-style-type: none;">
            <li ng-repeat="imageFile in imageFiles" style="float: left; margin: 30px 20px; text-align: center; cursor:pointer;">
                <div ng-click="selectImage(imageFile, $event)">
                    <img ng-src="{{serverURL}}/image/thumb/{{imageFile._id}}">
                    <div class="imgInfo">
                        <h6 class="infoFloat"> {{imageFile.originalName}} </h6>
                        <button ng-click="deleteImage(imageFile._id)" class="btn btn-default infoFloat">삭제</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <hr>
    <h6 class="modal-title" style="margin-bottom: 20px; font-size: 15px; font-weight: 600">새 이미지</h6>

    <!--파일첨부 origin-->
    <!--<input type="file" id="image_picture_file" class="col-md-10" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectUnbindImage($files)">-->
    <!--<button type="btn btn-default col-md-2"  ng-click="uploadUnbindImage()">업로드</button>-->

    <!--<div id="image_picture_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="display: none;"></div><br>-->


    <div id="fileUproad">
        <input type="text" id="imageNameInput" class="form-control" readonly="readonly" ng-model = "fileNameForImage"/>

        <div class="fileInputDiv" >
            <input type="button" class="imageSelectInputButton btn btn-default" value="사진선택" />
            <input type="file" class="fileInputHidden" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectUnbindImage($files)"/>
        </div>

        <button type="button"  class="btn btn-default" ng-click="uploadUnbindImage()" style="position: absolute; top: 10px; right: 205px">업로드</button>
    </div>

    <div id="image_picture_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="display: none; width: 500px; margin-top: 20px"></div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">확인</button>
    <button class="btn btn-warning" ng-click="cancel()">취소</button>
</div>
