<ul id="arrowForm">
    <li>
        <label for="useBtnForm">use :</label>
        <div id="useBtnForm" class="btn-group">
            <label class="btn btn-primary" ng-model="data.arrow.use" btn-radio=false>없음</label>
            <label class="btn btn-primary" ng-model="data.arrow.use" btn-radio=true>사용</label>
        </div>
    </li>

    <li ng-show="data.arrow.use == true">
        <label for="dirBtnForm">direction :</label>
        <div id="dirBtnForm" class="btn-group">
            <label class="btn btn-primary" ng-model="data.arrow.direction" btn-radio="'start'">Start</label>
            <label class="btn btn-primary" ng-model="data.arrow.direction" btn-radio="'end'">End</label>
            <label class="btn btn-primary" ng-model="data.arrow.direction" btn-radio="'both'">Both</label>
        </div>
    </li>
</ul>