<ul id="urlForm" class="clearfix">

    <label for="isOutURLBtn">url 타입</label>
    <div id="isOutURLBtn" class="btn-group">
        <label class="btn btn-default" ng-model="data.isOutURL" btn-radio=false>내부링크</label>
        <label class="btn btn-default" ng-model="data.isOutURL" btn-radio=true>외부링크</label>
    </div>

    <div id="windowTypeBtn" class="btn-group">

        <!--<label class="btn btn-default" ng-model="data.isNewWindow" btn-radio=false>현재 창에서 열기</label>-->
        <!--<label class="btn btn-default" ng-model="data.isNewWindow" btn-radio=true>새 창에서 열기</label>-->

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-value="false" ng-model="data.isNewWindow">
                현재 창에서 열기
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" ng-value="true" ng-model="data.isNewWindow">
                새 창에서 열기
            </label>
        </div>

    </div>

    <li ng-show="data.isOutURL">
        <label for="sizeInputWidth">외부 링크</label>
        <textarea type="text" class="attrInput form-control" id="sizeInputWidth" ng-model="data.url" style="width: 250px; box-sizing: border-box"/>
    </li>

    <li ng-hide="data.isOutURL">
        <label for="sizeInputWidth">내부 링크</label>
        <select ng-selected="url_title = papers[data.url]" ng-model="url_title" class="form-control" ng-change="setURL()" ng-options="value for (key, value) in papers " style="width: 250px; box-sizing: border-box"></select>
    </li>

</ul>