<form class="form-horizontal" role="form">
    <!--보훈대상-->
    <div class="form-group">
        <label for="lbl_veteran" class="col-md-2 control-label" style="width: 109px">보훈대상</label>
        <div class="col-md-4" id="lbl_veteran" style="text-align: left">
            <label><input type="radio" name="veteran" ng-model="additionalInfo.B_veteran" value="true">보훈대상</input></label>
            <label><input type="radio" name="veteran" ng-model="additionalInfo.B_veteran" value="false">보훈비대상</input></label>
        </div>
    </div>

    <!--장애여부-->
    <div class="form-group">
        <label for="lbl_disability" class="col-md-2 control-label" style="width: 109px">장애여부</label>
        <div class="col-md-4" id="lbl_disability" style="text-align: left">
            <label><input type="radio" name="disability" ng-model="additionalInfo.B_disability" value="true">장애인</input></label>
            <label><input type="radio" name="disability" ng-model="additionalInfo.B_disability" value="false">비장애인</input></label>
        </div>
    </div>

    <!--병역-->
    <div class="form-group row">
        <label for="lbl_militery_category" class="col-md-2 control-label" style="width: 109px">병역사항</label>
        <div class="col-md-4" id="lbl_militery_category" style="text-align: left">
            <label><input type="radio" name="militery_category" ng-model="additionalInfo.S_militaryService_category" value="해당없음">해당없음</input></label>
            <label><input type="radio" name="militery_category" ng-model="additionalInfo.S_militaryService_category" value="필">필</input></label>
            <label><input type="radio" name="militery_category" ng-model="additionalInfo.S_militaryService_category" value="면제">면제</input></label>
            <label><input type="radio" name="militery_category" ng-model="additionalInfo.S_militaryService_category" value="미필">미필</input></label>
            <label><input type="radio" name="militery_category" ng-model="additionalInfo.S_militaryService_category" value="복무중">복무중</input></label>
        </div>

        <label for="lbl_militery_term" class="col-md-2 control-label" style="width: 109px">복무기간</label>
        <div class="col-md-2" id="lbl_militery_term">
            <button class="k-button" ng-click="win_militery_term_start.center(); win_militery_term_start.open();">{{additionalInfo.T_militaryService_term.start | date:"yyyy년 MM월 dd일"}}</button> ~ <button class="k-button" ng-click="win_militery_term_end.center(); win_militery_term_end.open();">{{additionalInfo.T_militaryService_term.end | date:"yyyy년 MM월 dd일"}}</button>
        </div>
        <div kendo-window="win_militery_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="additionalInfo.T_militaryService_term.start" k-on-change="win_militery_term_start.close()"></kendo-calendar>
        </div>
        <div kendo-window="win_militery_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="additionalInfo.T_militaryService_term.end" k-on-change="win_militery_term_end.close()"></kendo-calendar>
        </div>
    </div>

    <!--종교-->
    <div class="form-group">
        <label for="lbl_religion" class="col-md-2 control-label" style="width: 109px">종교</label>
        <div class="col-md-4" id="lbl_religion">
            <label><input type="radio" name="religion" ng-model="additionalInfo.S_religion" value="무교">무교</input></label>
            <label><input type="radio" name="religion" ng-model="additionalInfo.S_religion" value="기독교">기독교</input></label>
            <label><input type="radio" name="religion" ng-model="additionalInfo.S_religion" value="천주교">천주교</input></label>
            <label><input type="radio" name="religion" ng-model="additionalInfo.S_religion" value="불교">불교</input></label>
            <label><input type="radio" name="religion" ng-model="additionalInfo.S_religion" value="기타">기타</input></label>
        </div>
    </div>

    <!--신체 : 신장, 몸무게-->
    <div class="form-group row">
        <label for="lbl_physical_tall" class="col-md-2 control-label" style="width: 109px">신장</label>
        <div class="col-md-2" id="lbl_physical_tall">
            <input type="text" class="form-control"  placeholder="신장" ng-model="additionalInfo.N_physical_tall">
        </div>
        <div class="col-md-1" style="padding: 5px 0; text-align: left">cm</div>

        <label for="lbl_physical_weight" class="col-md-1 control-label" style="width: 109px">몸무게</label>
        <div class="col-md-2" id="lbl_physical_weight">
            <input type="text" class="form-control"  placeholder="몸무게" ng-model="additionalInfo.N_physical_weight">
        </div>
        <div class="col-md-1" style="padding: 5px 0; text-align: left">kg</div>
    </div>

    <!--혈액형, 시력-->
    <div class="form-group row">
        <label for="lbl_physical_blood" class="col-md-2 control-label" style="width: 109px">혈액형</label>
        <div class="col-md-2" id="lbl_physical_blood">
            <input type="text" class="form-control"  placeholder="혈액형" ng-model="additionalInfo.N_physical_blood">
        </div>

        <label for="lbl_physical_sight" class="col-md-offset-1 col-md-2 control-label" style="width: 109px">시력</label>
        <div class="col-md-2" id="lbl_physical_sight" style="padding-right: 0; width: 90px">
            <input type="text" class="form-control"  placeholder="좌안" ng-model="additionalInfo.N_physical_sight_left" style="width: 75px">
        </div>
        <div class="col-md-1" style="padding: 5px 0; width: 30px">/</div>
        <div class="col-md-2" style="padding-left: 0; width: 90px">
            <input type="text" class="form-control"  placeholder="우안" ng-model="additionalInfo.N_physical_sight_right" style="width: 75px">
        </div>
    </div>

    <!--취미, 특기-->
    <div class="form-group row">
        <label for="lbl_favorite" class="col-md-2 control-label" style="width: 109px">취미</label>
        <div class="col-md-3" id="lbl_favorite">
            <input type="text" class="form-control"  placeholder="취미" ng-model="additionalInfo.S_favorite">
        </div>

        <label for="lbl_forte" class="col-md-1 control-label" style="width: 109px">특기</label>
        <div class="col-md-3" id="lbl_forte">
            <input type="text" class="form-control"  placeholder="특기" ng-model="additionalInfo.S_skill">
        </div>
    </div>

    <!--존경인물-->
    <div class="form-group">
        <label for="lbl_respect" class="col-md-2 control-label" style="width: 109px">존경인물</label>
        <div class="col-md-3" id="lbl_respect">
            <input type="text" class="form-control"  placeholder="존경인물" ng-model="additionalInfo.S_respect">
        </div>
    </div>
</form>