<div id="sizeForm" class="clearfix">
    <ANY ng-switch="data.itemType">

        <ANY ng-switch-when="line">
            <div id="lineForm">
                <label for="sizeInputWidth_line">길이</label>
                <input type="text" class="attrInput form-control" id="sizeInputWidth_line" ng-model="data.size.width">
                <span>px</span>
            </div>
        </ANY>

        <ANY ng-switch-default>
            <div id="sizeFillForm">
                <label for="sizeFillForm" class="sizeElement">사이즈</label>
                <div class="width sizeElement">
                    <label for="sizeInputWidth">w</label>
                    <input type="text" class="attrInput form-control" id="sizeInputWidth" ng-model="data.size.width">
                </div>
                <div class="height sizeElement">
                    <label for="sizeInputHeight">h</label>
                    <input type="text" class="attrInput form-control" id="sizeInputHeight" ng-model="data.size.height">
                </div>
            </div>
        </ANY>

    </ANY>
</div>