<ANY ng-switch = "attribute.arrow.use">
    <ANY ng-switch-when="false">
        <svg  ng-model="lineEnd" style="width: 100%; height: 100%">
            <line x1="0" y1="0" x2={{lineEnd.x}} y2={{lineEnd.y}} stroke = {{style.fill}} stroke-width={{attribute.outline.weight}} />
        </svg>
    </ANY>
    <ANY ng-switch-default>
        <ANY ng-switch = "attribute.arrow.direction">
            <ANY ng-switch-when="start">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line x1="0" y1="0" x2={{lineEnd.x}} y2={{lineEnd.y}} marker-start = "url(#startArrow)" stroke = {{style.fill}} stroke-width={{attribute.outline.weight}} />
                </svg>
            </ANY>
            <ANY ng-switch-when="end">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line x1="0" y1="0" x2={{lineEnd.x}} y2={{lineEnd.y}} marker-end = "url(#endArrow)" stroke = {{style.fill}} stroke-width={{attribute.outline.weight}} />
                </svg>
            </ANY>
            <ANY ng-switch-when="both">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line x1="0" y1="0" x2={{lineEnd.x}} y2={{lineEnd.y}} marker-start = "url(#startArrow)" marker-end = "url(#endArrow)" stroke = {{style.fill}} stroke-width={{attribute.outline.weight}} />
                </svg>
            </ANY>
        </ANY>
    </ANY>
</ANY>

<svg style="width:0; height: 0">
    <defs>
        <marker id="endArrow" markerWidth="10" markerHeight="10" refx="2" refy="6" orient="auto">
            <path d="M1,1 L1,10 L10,6" ng-style="style" />
        </marker>

        <marker id="startArrow" markerWidth="10" markerHeight="10" refx="2" refy="6" orient="auto">
            <path d="M1,6 L10,1 L10,10" ng-style="style" />
        </marker>
    </defs>
</svg>