<ANY ng-switch = "attributeInformation.arrow.use" style="width: 100%; height: 100%">
    <ANY ng-switch-when="false">
        <svg  ng-model="lineEnd" style="width: 100%; height: 100%">
            <line ng-x1={{attributeInformation.outline.weight*5}} ng-y1={{lineEnd.y/2}} ng-x2={{lineEnd.x-attributeInformation.outline.weight*5}} ng-y2={{lineEnd.y/2}} stroke = {{style.fill}} stroke-width={{attributeInformation.outline.weight}} />
        </svg>
    </ANY>
    <ANY ng-switch-default>
        <ANY ng-switch = "attributeInformation.arrow.direction">
            <ANY ng-switch-when="start">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line ng-x1={{attributeInformation.outline.weight*5}} ng-y1={{lineEnd.y/2}} ng-x2={{lineEnd.x-attributeInformation.outline.weight*5}} ng-y2={{lineEnd.y/2}} marker-start = "url(#startArrow)" stroke = {{style.fill}} stroke-width={{attributeInformation.outline.weight}} />
                </svg>
            </ANY>
            <ANY ng-switch-when="end">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line ng-x1={{attributeInformation.outline.weight*5}} ng-y1={{lineEnd.y/2}} ng-x2={{lineEnd.x-attributeInformation.outline.weight*5}} ng-y2={{lineEnd.y/2}} marker-end = "url(#endArrow)" stroke = {{style.fill}} stroke-width={{attributeInformation.outline.weight}} />
                </svg>
            </ANY>
            <ANY ng-switch-when="both">
                <svg style="width: 100%; height: 100%" ng-model=lineEnd>
                    <line ng-x1={{attributeInformation.outline.weight*5}} ng-y1={{lineEnd.y/2}} ng-x2={{lineEnd.x-attributeInformation.outline.weight*5}} ng-y2={{lineEnd.y/2}} marker-start = "url(#startArrow)" marker-end = "url(#endArrow)" stroke = {{style.fill}} stroke-width={{attributeInformation.outline.weight}} />
                </svg>
            </ANY>
        </ANY>
    </ANY>
</ANY>

<svg style="width:0; height: 0">
    <defs>
        <marker id="endArrow" markerWidth="5" markerHeight="5" refx="1" refy="2.8" orient="auto">
            <path d="M0,0 L0,5 L5,3" ng-style="style"></path>
        </marker>

        <marker id="startArrow" markerWidth="5" markerHeight="5" refx="1" refy="2.8" orient="auto">
            <path d="M0,3 L5,0 L5,5" ng-style="style"></path>
        </marker>
    </defs>
</svg>