<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">템플릿 생성</h4>
</div>
<div class="modal-body">
    <input type="text" class="form-control" placeholder="템플릿 이름" ng-model="template.title">
    <select class="form-control"
            ng-model="category"
            ng-options="category.title for (key, category) in infoCategory"></select>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">닫기</button>
    <button type="button" class="btn btn-primary" ng-click="save()">저장</button>
</div>
