<div id="editor" style="background-color: #d8d8d8; height: 100%;">
    <div id="paperEditor" paper-component
         style="background-color: #f6f6f6; height: 54px; margin-bottom: 20px; box-shadow: 0 1px 4px rgba(0,0,0,0.2);"></div>

    <!--Section, Article, Item 에디터-->
    <div id="otherEditor">
        <!--Section 수정 가능한 에디터-->
        <div id="SectionEditor" data-ng-init="initializeSectionEditor()">
            <!--탭-->
            <ul id="SectionEditorTab">
                <li><a id="articleTabLink" href="#articleTemplateArea" title="articleTemplateArea"
                       ng-click="loadArticleTemplate()">
                    Template</a></li>
                <li><a id="itemTabLink" href="#itemTemplateArea" title="itemTemplateArea">
                    Item</a></li>
            </ul>

            <div class="tab-content" id="content">
                <div id="articleTemplateArea" >
                    <div style="margin-bottom: 30px;">
                        <div class="btn-group">
                            <button type="button" class="tamplateCategory btn btn-default dropdown-toggle" data-toggle="dropdown">{{selected.title}}
                                <span class="caret" style="margin-left: 45px"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="infoType in infoTypes track by $index">
                                    <a ng-click="setInfoType(infoType)">
                                        <span>{{infoType.title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--New 템플릿 생성 버튼-->
                        <button id="btnAddArticleTemplate" class="btn btn-default form-control"
                                ng-click="popCreateTemplateModal()">+
                        </button>
                    </div>

                    <!--기본 템플릿 리스트 -->
                    <ul id="basicTemplateList">

                        <li ng-repeat="template in basicTemplates track by $index">
                            <div id="basicTemplateThumb" ng-click="templateClone(template)">
                                <div style="background-color: #fff;">
                                    <img id="basicTemplateThumbImg" ng-src="{{template.thumbURL}}">
                                </div>
                                <div class="description">
                                    {{template.title}}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--생성한 템플릿 리스트 -->
                    <ul id="articleTemplateList">
                        <li ng-repeat="template in templates track by $index">
                            <div id="templateThumb" ng-click="templateClone(template)">
                                <img id="templateThumbImg" ng-src="{{template.thumbURL}}">

                                <div class="description">
                                    {{template.title}}
                                </div>
                            </div>

                            <div id="editGroup" class="dropdown">
                                <button id="editBtn" data-toggle="dropdown" class="btn btn-default" href="#"></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        
                                    <li><a ng-click="editTemplate(template)">수정</a></li>
                                    <li><a ng-click="popDeleteTemplateModal(template._id)">삭제</a></li>
                                      
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="itemTemplateArea">
                    <ul id="itemTemplateList" class="clearfix">
                        <li>
                            <div id="text" class="" ng-click="itemClone('text')">
                                <img src="../img/item_icon/item_text.png"/>
                            </div>
                        </li>
                        <li>
                            <div id="image" class="" ng-click="itemClone('image')">
                                <img src="../img/item_icon/item_image.png"/>
                            </div>
                        </li>
                        <li>
                            <div id="line" class="" ng-click="itemClone('line')">
                                <img src="../img/item_icon/item_line.png"/>
                            </div>
                        </li>
                        <li>
                            <div id="link" class="" ng-click="itemClone('link')">
                                <img src="../img/item_icon/item_link.png"/>
                            </div>
                        </li>
                        <li>
                            <div id="shape" class="" ng-click="itemClone('shape')">
                                <img src="../img/item_icon/item_shape.png"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>