<form class="form-horizontal" role="form">
    <div class="personalInfoForm form-group">
        <!--개인정보 입력-->
        <div class="col-md-9">
            <!--성명-->
            <div id="name" class="form-group">
                <label class="col-md-2 control-label">이름</label>
                <div class="col-md-10 clearfix">
                    <div class="form-group row">
                        <span for="lbl_personal_name_kr" class="col-md-2 control-label" style="padding-right: 3px; width: 60px; text-align: left">한글</span>
                        <div class="col-md-3" id="lbl_personal_name_kr" style="padding: 0 ; width: 100px;">
                            <input type="text" class="form-control"  placeholder="이름 (한글)" ng-model="personalInfo.S_name_kr">
                        </div>

                        <span for="lbl_personal_name_en" class="col-md-2 control-label" style="padding-right: 3px; width: 60px; text-align: left">한문</span>
                        <div class="col-md-3" id="lbl_personal_name_en" style="padding: 0 ; width: 100px;">
                            <input type="text" class="form-control"  placeholder="이름 (한문)" ng-model="personalInfo.S_name_en">
                        </div>

                        <span for="lbl_personal_name_ch" class="col-md-2 control-label" style="padding-right: 3px; width: 60px; text-align: left">영문</span>
                        <div class="col-md-3" id="lbl_personal_name_ch" style="padding: 0 ; width: 150px;">
                            <input type="text" class="form-control"  placeholder="이름 (영문)" ng-model="personalInfo.S_name_ch">
                        </div>
                    </div>
                </div>
            </div>

            <!--생일-->
            <div class="form-group">
                <label for="lbl_personal_birthday" class="col-md-2 control-label">생일</label>
                <div class="col-md-3" id="lbl_personal_birthday">
                    <button class="k-button" ng-click="win_birthday.center(); win_birthday.open();">{{personalInfo.D_birthday | date:"yyyy년 MM월 dd일"}}</button>
                </div>
                <div kendo-window="win_birthday" k-title="'Choose Your Birthday'" k-modal="true" k-resizable="false" k-visible="false">
                    <kendo-calendar ng-model="personalInfo.D_birthday" k-on-change="win_birthday.close()"></kendo-calendar>
                </div>
            </div>

            <!--이메일-->
            <div class="form-group">
                <label for="lbl_personal_email" class="col-md-2 control-label">이메일</label>
                <div class="col-md-10" id="lbl_personal_email">
                    <input type="email" class="form-control"  placeholder="이메일" ng-model="personalInfo.S_email">
                </div>
            </div>

            <!--번호-->
            <div class="form-group row">
                <label for="lbl_personal_phone" class="col-md-2 control-label">전화번호</label>
                <div class="col-md-4" id="lbl_personal_phone">
                    <input type="text" class="form-control"  placeholder="전화번호" ng-model="personalInfo.S_phone">
                </div>

                <label for="lbl_personal_cellphone" class="col-md-2 control-label">핸드폰</label>
                <div class="col-md-4" id="lbl_personal_cellphone">
                    <input type="text" class="form-control"  placeholder="핸드폰" ng-model="personalInfo.S_cellphone">
                </div>
            </div>


            <!--주소-->
            <div class="form-group">
                <label for="lbl_personal_address1" class="col-md-2 control-label">주소</label>
                <div class="col-md-10"  id="lbl_personal_address1">
                    <input type="text" class="form-control" placeholder="주소" ng-model="personalInfo.S_address_1">
                </div>
            </div>
            <div class="form-group">
                <label for="lbl_personal_address2" class="col-md-2 control-label">상세주소</label>
                <div class="col-md-10" id="lbl_personal_address2">
                    <input type="text" class="form-control"  placeholder="상세주소" ng-model="personalInfo.S_address_2">
                </div>
            </div>

        </div>

        <!--사진 첨부-->
        <div class="col-md-3">
            <div ng-show = "!personalInfo.I_picture">
                <img ng-src="../img/noImage.png">
            </div>
            <div ng-show = "personalInfo.I_picture">
                <img ng-src="http://210.118.74.166:8123/image/profile/thumb/{{personalInfo.I_picture._id}}" id="personal_picture">
            </div>

            <!--<input type="file" id="personal_picture_file" class="btn btn-default" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectProfileImage($files)">-->
            <input type="text" id="personal_picture_file" class="fileInputText" readonly="readonly" ng-model = "fileName"/>
            <div class="fileInputDiv">
                <input type="button" class="btn btn-default" value="파일첨부" class="fileInputButton" />
                <input type="file" class="fileInputHidden" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectProfileImage($files)"/>
            </div>

            <div id="personal_picture_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="width: 180px; height: 8px; display: none;"></div><br>
        </div>
    </div>
</form>