<div id="rowcolForm" class="clearfix">
    <div id="rowcolFillForm">
        <!--<label for="rowcolFillForm" class="rowcolElement">사이즈</label>-->
        <div class="rowCount rowcolElement">
            <label for="rowCount">row</label>
            <input type="text" class="attrInput form-control" id="rowCount" ng-model="data.rowCount">
        </div>
        <div class="colCount rowcolElement">
            <label for="colCount">col</label>
            <input type="text" class="attrInput form-control" id="colCount" ng-model="data.colCount">
        </div>
        <button class="btn btn-default" ng-click="reload()">변환</button>
    </div>
</div>