<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link href="../libs/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="../css/index.css" rel="stylesheet">

    <title></title>
</head>
<body ng-controller="index"> <!--class="container"-->
<!--header : 로그인, 회원가입, 소개 이미지-->
<div id="header">
    <div id="headerInner" class="wrapper">

        <!--로고, 로그인, 회원가입-->
        <div class="clearfix">
            <a id="logo" href="#"><img src="../img/index_img/logo.png" style="width: 190px"/></a>
            <a class="member" href="login.html"> login </a>
            <a class="member" href="join.html"> join </a>
        </div>
    </div>
</div>

<!--content-->
<div id="content" class="wrapper">
    <ul id="infoList" class="clearfix">
        <li><a href="#about"><img src="../img/index_img/about_img.png"/></a></li>
        <li><a ng-click="tutorial();"><img src="../img/index_img/tutorial_img.png"/></a></li>
        <li><a href="#"><img src="../img/index_img/sample_img.png"/></a></li>
    </ul>
</div>

<div id="about" name="about">
    <img id="careerbox" src="../img/index_img/aboutCareerbox.png">
    <img id="computer" src="../img/index_img/aboutComputer.png">
    <img id="definition" src="../img/index_img/aboutDefinition.png">
</div>
<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>