<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link href="../libs/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="../css/index.css" rel="stylesheet">

    <title>CareerBox::Index</title>
</head>
<body ng-controller="index"> <!--class="container"-->
<!--header : 로그인, 회원가입, 소개 이미지-->
<div id="header">
    <div id="headerInner" class="wrapper">

        <!--로고, 로그인, 회원가입-->
        <div class="clearfix">
            <a id="logo" href="#"><img src="../img/index_img/logo.png" style="width: 190px"/></a>
            <a class="member" href="login.html"> login </a>
            <a class="member" href="join.html"> join </a>
        </div>
    </div>
</div>

<!--content-->
<div id="content" class="wrapper">
    <ul id="infoList" class="clearfix">
        <li><a href="#about"><img class="overImg" src="../img/index_img/about_img.png"/></a></li>
        <li><a ng-click="tutorial();"><img class="overImg" src="../img/index_img/tutorial_img.png"/></a></li>
        <li style="margin-right: 0"><a href="#sample"><img class="overImg" src="../img/index_img/sample_img.png"/></a></li>
    </ul>
</div>

<div id="about" name="about">
    <img id="careerbox" src="../img/index_img/aboutCareerbox.png">
    <img id="computer" src="../img/index_img/aboutComputer.png">
    <img id="definition" src="../img/index_img/aboutDefinition.png">
</div>

<div id="sample" name="sample">
    <img id="sampleTitle" src="../img/index_img/sampleTitle.png">
    <img id="sampleDescription" src="../img/index_img/sampleDescription.png">

    <img id="samplePaper" src="../img/index_img/samplePaper.png"/>
    <div id="samplePaperImg_1" class="samplePaperImg"><img src="../img/index_img/sampleImage1.png" /></div>
    <div id="samplePaperImg_2" class="samplePaperImg"><img src="../img/index_img/sampleImage2.png" /></div>
    <div id="samplePaperImg_3" class="samplePaperImg"><img src="../img/index_img/sampleImage3.png" /></div>
    <div id="samplePaperImg_4" class="samplePaperImg"><img src="../img/index_img/sampleImage4.png" /></div>

    <ul id="sampleBtn" class="clearfix">
        <li><a target="_blank" href="http://210.118.74.166:8123/res/app/partials/portfolio.html?id=54a054d0864ddfb40a7814e3"><img id="sampleBtn1" src="../img/index_img/sample1.png"></a></li>
        <li><a target="_blank" href="http://210.118.74.166:8123/res/app/partials/portfolio.html?id=54a126721459c30012af834b"><img id="sampleBtn2" src="../img/index_img/sample2.png"></a></li>
        <li><a target="_blank" href="http://210.118.74.166:8123/res/app/partials/portfolio.html?id=54a11522e4c350440c8d1738"><img id="sampleBtn3" src="../img/index_img/sample3.png"></a></li>
        <li><a target="_blank" href="http://210.118.74.166:8123/res/app/partials/portfolio.html?id=54a0ceb5efebe6141cb786e9"><img id="sampleBtn4" src="../img/index_img/sample4.png"></a></li>
    </ul>
</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>