<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/PersonalInformation.css" rel="stylesheet">
    <link href="../css/portfolioMenu.css" rel="stylesheet">

    <!--<link href="../libs/kendo/styles/web/kendo.flat.min.css" rel="stylesheet">-->
    <!--<link href="../libs/kendo/styles/web/kendo.common.core.css" rel="stylesheet">-->
    <!--<link href="../libs/kendo/styles/kendo.common-material.min.css" rel="stylesheet">-->
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.mobile.min.css" rel="stylesheet">

    <title>Personal Information</title>
</head>

<body ng-controller="informationManager">
<span kendo-notification="noti" k-position="{top: 20}"></span>
<!--좌측 메뉴-->
<menu id="menu" class="aside"></menu>

<!--컨텐츠 부분-->
<div id="content" >

    <div id="information-content" data-ng-init="initialize()">

        <ul id="informationTab">
            <li role="presentation"><a href="#" title="personalInformationContent" id="personalInfo">기본정보</a></li>
            <li role="presentation"><a href="#" title="schoolInformationContent" id="schoolInfo">학력</a></li>
            <li role="presentation"><a href="#" title="workingInformationContent" id="workingInfo">경력</a></li>
            <li role="presentation"><a href="#" title="abilityInformationContent" id="abilityInfo">보유능력</a></li>
            <li role="presentation"><a href="#" title="awardInformationContent" id="awardInfo">수상</a></li>
            <li role="presentation"><a href="#" title="activityInformationContent" id="activityInfo">활동</a></li>
            <li role="presentation"><a href="#" title="projectInformationContent" id="projectInfo">프로젝트</a></li>
            <li role="presentation"><a href="#" title="columnInformationContent" id="columnInfo">칼럼</a></li>
        </ul>

        <div id="tabContent">
            <div id="personalInformationContent">
                <personal-information></personal-information>
                <additional-information></additional-information>

                <div>
                    <button class="btn btn-default" ng-click="save('personalInfo')">저장</button>
                    <button class="btn btn-default" ng-click="transition('schoolInfo')">다음</button>
                </div>
            </div>

            <div id="schoolInformationContent">
                <high-school-information></high-school-information>
                <university-information></university-information>

                <button class="btn btn-default" ng-click="transition('personalInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('schoolInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('workingInfo')">다음</button>
            </div>

            <div id="workingInformationContent">
                <working-information></working-information>

                <button class="btn btn-default" ng-click="transition('schoolInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('workingInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('abilityInfo')">다음</button>
            </div>

            <div id="abilityInformationContent">
                <certificate-ability-information></certificate-ability-information>
                <proficiency-information></proficiency-information>
                <computer-ability-information></computer-ability-information>
                <paper-ability-information></paper-ability-information>

                <button class="btn btn-default" ng-click="transition('workingInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('abilityInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('awardInfo')">다음</button>
            </div>

            <div id="awardInformationContent">
                <scholarship-information></scholarship-information>
                <award-information></award-information>

                <button class="btn btn-default" ng-click="transition('abilityInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('awardInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('activityInfo')">다음</button>
            </div>

            <div id="activityInformationContent">
                <local-activity-information></local-activity-information>
                <global-activity-information></global-activity-information>

                <button class="btn btn-default" ng-click="transition('awardInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('activityInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('projectInfo')">다음</button>
            </div>

            <div id="projectInformationContent">
                <project-information></project-information>

                <button class="btn btn-default" ng-click="transition('activityInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('projectInfo')">저장</button>
                <button class="btn btn-default" ng-click="transition('columnInfo')">다음</button>
            </div>

            <div id="columnInformationContent">
                <column-information></column-information>

                <button class="btn btn-default" ng-click="transition('projectInfo')">이전</button>
                <button class="btn btn-default" ng-click="save('columnInfo')">저장</button>
            </div>
        </div>
    </div>
</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>
