<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/personalInformation.css" rel="stylesheet">
    <link href="../css/portfolioMenu.css" rel="stylesheet">

    <!--<link href="../libs/kendo/styles/web/kendo.flat.min.css" rel="stylesheet">-->
    <!--<link href="../libs/kendo/styles/web/kendo.common.core.css" rel="stylesheet">-->
    <!--<link href="../libs/kendo/styles/kendo.common-material.min.css" rel="stylesheet">-->
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.mobile.min.css" rel="stylesheet">

    <title>Personal Information</title>
</head>

<body ng-controller="informationManager">
<span kendo-notification="noti" k-position="{top: 20}"></span>
<!--좌측 메뉴-->
<menu id="menu" class="aside"></menu>

<!--컨텐츠 부분-->
<div id="content" >
    <!--상단 사용자 정보-->
    <div id="user-info">
        <h2>Dahye's Portfolio</h2>
    </div>

    <div id="information-content" data-ng-init="initialize()">
        <ul class="nav nav-tabs" id="informationTab">
            <li role="presentation"><a href="#personalInformationContent" id="personalInformationLink" ng-click="load('personalInfo')">기본정보</a></li>
            <li role="presentation"><a href="#schoolInformationContent" ng-click="load('schoolInfo')">학력</a></li>
            <li role="presentation"><a href="#workingInformationContent" ng-click="load('workingInfo')">경력</a></li>
            <li role="presentation"><a href="#abilityInformationContent" ng-click="load('abilityInfo')">보유능력</a></li>
            <li role="presentation"><a href="#awardInformationContent" ng-click="load('awardInfo')">수상</a></li>
            <li role="presentation"><a href="#activityInformationContent" ng-click="load('activityInfo')">활동</a></li>
            <li role="presentation"><a href="#projectInformationContent" ng-click="load('projectInfo')">프로젝트</a></li>
            <li role="presentation"><a href="#columnInformationContent" ng-click="load('columnInfo')">칼럼</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="personalInformationContent">
                <personal-information></personal-information>
                <additional-information></additional-information>

                <button class="btn btn-default" ng-click="save('personalInfo')">저장</button>
                <button class="btn btn-default">다음</button>
            </div>

            <div class="tab-pane" id="schoolInformationContent">
                <high-school-information></high-school-information>
                <university-information></university-information>

                <button class="btn btn-default">이전</button>
                <button class="btn btn-default" ng-click="save('schoolInfo')">저장</button>
                <button class="btn btn-default">다음</button>
            </div>

            <div class="tab-pane" id="workingInformationContent">
                <working-information></working-information>

                <button class="btn btn-default">이전</button>
                <button class="btn btn-default" ng-click="save('workingInfo')">저장</button>
                <button class="btn btn-default">다음</button>
            </div>
            
            <div class="tab-pane" id="abilityInformationContent">
                <certificate-ability-information></certificate-ability-information>
                <proficiency-information></proficiency-information>
                <computer-ability-information></computer-ability-information>
                <paper-ability-information></paper-ability-information>
            </div>

            <div class="tab-pane" id="awardInformationContent">
                <scholarship-information></scholarship-information>
                <award-information></award-information>
            </div>

            <div class="tab-pane" id="activityInformationContent">
                <local-activity-information></local-activity-information>
                <global-activity-information></global-activity-information>
            </div>

            <div class="tab-pane" id="projectInformationContent">
                <project-information></project-information>
            </div>

            <div class="tab-pane" id="columnInformationContent">
                <column-information></column-information>
            </div>
        </div>
    </div>
</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>
