<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/portfolioManage.css" rel="stylesheet">

    <title>Portfolio Manage</title>
</head>

<body ng-controller="portfolioManager">

<!--좌측 메뉴-->
<menu id="menu" class="aside"></menu>

<!--컨텐츠 부분-->
<div id="content" >
    <!--상단 사용자 정보-->
    <div id="user-info">
        <h2>Dahye's Portfolio</h2>
    </div>

    <!--사용자 포트폴리오 리스트-->
    <button id="btnNew" class='btn btn-default' ng-click="createPortfolio()">포트폴리오 생성</button>

    <new-portfolio></new-portfolio>

</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>