<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Portfolio Editor</title>

    <link href="../libs/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="../libs/kendo/styles/web/kendo.flat.min.css" rel="stylesheet">
    <link href="../libs/kendo/styles/web/kendo.common.core.css" rel="stylesheet">

    <link href="../css/portfolioEditor.css" rel="stylesheet">

    <!--로테이션 핸들 css 다혜야 맘대로 수정해도됨.-->
    <link href="../libs/jquery/rotatable/jquery.ui.rotatable.css" rel="stylesheet">

</head>
<body ng-controller="portfolioEditor">
<div id="top-pane">
    <div id="logoWrapper">
        <img src="../img/manage_img/logo.png"/>
    </div>

    <div id="etcWrapper">
        <ul>
            <li><a id="preview" href="portfolioPreview.html" data-toggle="tooltip" title="프리뷰" data-placement ="bottom"><img src="../img/editor_img/viewPage.png" style="width: 25px"/></a></li>
            <li><a id="moveManage" href="portfolioManager.html"data-toggle="tooltip" title="관리 페이지" data-placement ="bottom"><img src="../img/editor_img/managePage.png" style="width: 16.5px"/></a></li>
            <li><a id="logout" href="portfolioManager.html" data-toggle="tooltip" title="로그아웃" data-placement ="bottom"><img src="../img/editor_img/logout.png" style="width: 18px"/></a></li>
        </ul>
    </div>
</div>
<div id="bottom-pane" kendo-splitter k-panes="panes" k-orientation="orientation">
    <div id="page">
        <div ng-view style="height: 100%"></div>
    </div>
    <div attribute-panel></div>
</div>


<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>