<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/portfolioManage.css" rel="stylesheet">
    <link href="../css/portfolioMenu.css" rel="stylesheet">

    <title>Portfolio Manager</title>
</head>

<body ng-controller="portfolioManager">

<!--좌측 메뉴-->
<menu id="menu" class="aside"></menu>

<!--컨텐츠 부분-->
<div id="content" data-ng-init="initialize()">
    <!--상단 사용자 정보-->
    <div id="user-info" class="clearfix">
        <div id="userInfoWrapper">
            <h2 id="header-title" style="display: none;">{{userInfo.S_name_kr}} 님의 포트폴리오</h2>

            <!--사용자 사진-->
            <div id="userImg">
                <div ng-show = "!userInfo.I_picture">
                    <img ng-src="../img/noImage.png">
                </div>
                <div ng-show = "userInfo.I_picture">
                    <img ng-src="http://210.118.74.166:8123/image/profile/thumb/{{userInfo.I_picture._id}}">
                </div>
            </div>

            <!--프로필 수정-->
            <a id="editProfileBtn" ng-click="editPersonalInformation()"><img src="../img/manage_img/editProfileBtn.png"/></a>

            <!--포트폴리오 생성-->
            <a id="newPortfolioBtn" ng-click="createPortfolio()"><img src="../img/manage_img/newPortfolioBtn.png"/></a>
        </div>
    </div>

    <!--<button id="btnNew" class='btn btn-default' ng-click="createPortfolio()">포트폴리오 생성</button>-->

    <!--사용자 포트폴리오 리스트-->
    <new-portfolio></new-portfolio>

</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>