<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="../css/preview.css" rel="stylesheet">
</head>
<body ng-controller="portfolioPreview" style="font-family: 'nanum gothic'; margin: 0px">
    <div id="canvas-box" class="editzoneWrapper clearfix" ng-click ng-style="canvasStyle">
        <div resizable id="canvas-content" class="editzone" common-attribute>
        </div>
    </div>
<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>