<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Portfolio Editor</title>

    <link href="../libs/jquery/jquery-ui.css" rel="stylesheet">
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="../libs/kendo/styles/web/kendo.flat.min.css" rel="stylesheet">
    <link href="../libs/kendo/styles/web/kendo.common.core.css" rel="stylesheet">

    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common-material.min.css" rel="stylesheet">-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.min.css" rel="stylesheet">-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.mobile.min.css" rel="stylesheet">-->

    <link href="../css/attribute.css" rel="stylesheet">
    <link href="../css/portfolioEditor.css" rel="stylesheet">

    <!--로테이션 핸들 css 다혜야 맘대로 수정해도됨.-->
    <link href="../libs/jquery/rotatable/jquery.ui.rotatable.css" rel="stylesheet">

</head>
<body ng-controller="portfolioEditor">
<div id="top-pane">
    <div id="logoWrapper">
        <a href="portfolioManager.html"><img src="../img/manage_img/logo.png"/></a>
    </div>

    <div id="etcWrapper">
        <ul>
            <li><a id="tutorial" ng-click="tutorial()" kendo-tooltip k-content="'튜토리얼'"><img src="../img/editor_img/tutorialIcon.png" style="width: 16.5px;"/></a>
            <li><a id="preview" ng-click="goToPortfolio()" kendo-tooltip k-content="'프리뷰'" ><img src="../img/editor_img/viewPage.png" style="width: 25px"/></a></li>
            <li><a id="moveManage" href="portfolioManager.html"kendo-tooltip k-content="'관리 페이지'"><img src="../img/editor_img/managePage.png" style="width: 16.5px"/></a></li>
            <li><a id="logout" href="portfolioManager.html" kendo-tooltip k-content="'로그아웃'"><img ng-click="logout()" src="../img/editor_img/logout.png" style="width: 18px"/></a></li>
        </ul>
    </div>
</div>
<div id="bottom-pane" kendo-splitter k-panes="panes" k-orientation="orientation">
    <div id="page">
        <div ng-view style="height: 100%"></div>
    </div>
    <div id="attribute">
        <div attribute-panel ></div>
    </div>
</div>


<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>