<div kendo-splitter k-panes="panes" k-orientation="orientation" style="height: 100%">
    <div template-panel></div>
    <!--<div drag>drag</div>-->
    <div id="canvas">
        <div id="stateBar" class="clearfix">
            <div id="stateGroup">
                <ul class="clearfix">
                    <li>
                        <a href="#PaperEditor">Paper ></a>
                        <a href="#PaperEditor">Article</a>
                    </li>
                </ul>
            </div>
            <div id="btnGroup">
                <button id="btnSave" class="btn btn-default" ng-click="save()">저장</button>
            </div>
        </div>


        <div id="canvas-box" class="editzoneWrapper clearfix" ng-click >
            <div resizable id="canvas-content" class="editzone" common-attribute >
            </div>
        </div>
    </div>
</div>