<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="testController">
<select class="form-control" ng-model="category" ng-options="category as category.title for category in infoCategory">
</select>

<select class="form-control" ng-model="type" ng-change="test()" ng-options="type as type for type in types">
</select>

<ul>
    <li ng-repeat="r in result track by $index">{{r}}</li>
</ul>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>