<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../libs/ngGrid/ng-grid.css">
</head>
<body ng-controller="testController">
TYPE : {{type}}
<select class="form-control" ng-model="category" ng-options="category as category.title for category in infoCategory">
</select>

<select class="form-control" ng-model="type" ng-change="test()" ng-options="key for (key, value) in types">
</select>

<ul>
    <li ng-repeat="(key,r) in result track by $index">{{key}} : {{r}}</li>
</ul>

<div ng-grid="myOptions" style="height: 500px;"></div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>

<div id="54968c233f8c3e180df18d2d_0" ng-click common-attribute draggable
     style="position: absolute; top: 0px; left: 0px; width: 700px; height: 444px;">
    <div id="54968c233f8c3e180df18d2d_0" ng-click common-attribute
         style="position: absolute; top: 0px; left: 0px; width: 350px; height: 444px;">
        <div id="54968c233f8c3e180df18d2d_0_load_5496aa995db274c419a521e1" ng-click common-attribute text
             class="itemText" style="position: absolute; top: 249px; left: 14px; width: 315px; height: 181px;"></div>
        <div id="54968c233f8c3e180df18d2d_0_load_54968c233f8c3e180df18d2b" ng-click common-attribute text
             class="itemText" style="position: absolute; top: 206px; left: 14px; width: 315px; height: 30px;"></div>
        <div id="54968c233f8c3e180df18d2d_0_load_54968c233f8c3e180df18d2c" ng-click common-attribute image
             class="itemImage" style="position: absolute; top: 15px; left: 12px; width: 320px; height: 180px;"></div>
    </div>
    <div id="54968c233f8c3e180df18d2d_0" ng-click common-attribute
         style="position: absolute; top: 0px; left: 350px; width: 350px; height: 444px;">
        <div id="54968c233f8c3e180df18d2d_0_load_5496aa995db274c419a521e1" ng-click common-attribute text
             class="itemText" style="position: absolute; top: 249px; left: 14px; width: 315px; height: 181px;"></div>
        <div id="54968c233f8c3e180df18d2d_0_load_54968c233f8c3e180df18d2b" ng-click common-attribute text
             class="itemText" style="position: absolute; top: 206px; left: 14px; width: 315px; height: 30px;"></div>
        <div id="54968c233f8c3e180df18d2d_0_load_54968c233f8c3e180df18d2c" ng-click common-attribute image
             class="itemImage" style="position: absolute; top: 15px; left: 12px; width: 320px; height: 180px;"></div>
    </div>
</div>