<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../libs/ngGrid/ng-grid.css" rel="stylesheet"  type="text/css" >
</head>
<body ng-controller="testController">
TYPE : {{type}}
<select class="form-control" ng-model="category" ng-options="category as category.title for category in infoCategory">
</select>

<select class="form-control" ng-model="type" ng-change="test()" ng-options="key for (key, value) in types">
</select>

<ul>
    <li ng-repeat="(key,r) in result track by $index">{{key}} : {{r}}</li>
</ul>

<div class="gridStyle" ng-grid="gridOptions" style="height: 400px;">
</div>

<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>