<div id="fontForm">

    <div id="fontStyleForm" class="clearfix">
        <label for="fontStyleForm" class="fontElement">글 스타일</label>
        <div id="fontColorForm" class="fontElement">
            <input id="fontColorInput" kendo-color-picker ng-model="color" k-buttons="true" k-preview="true" k-input="true"/>
        </div>
        <div id="fontSizeForm" class="fontElement">
            <input id="fontSizeInput" class="attrInput form-control" ng-model="data.font.size"/>
            <span>pt</span>
        </div>
    </div>

    <div id="fontOptionForm" class="fontElement">
        <label id="fontFamilyInputLabel">글꼴</label>

        <select ng-model="data.font.family"
                ng-options="value for value in fontFamily"></select>

        <div class="btn-group">
            <label class="btn btn-default" ng-model="data.font.bold" btn-checkbox><b>B</b></label>
            <label class="btn btn-default" ng-model="data.font.italic" btn-checkbox><i>I</i></label>
        </div>
    </div>
</div>