<div style="margin: 30px 0 10px 0">해외활동</div>
<form class="form-horizontal" role="form">
    <!--국가명, 기간-->
    <div class="form-group row">
        <label for="lbl_global_activity_country" class="col-md-2 control-label">국가명</label>
        <div class="col-md-2" id="lbl_global_activity_country">
            <input type="text" class="form-control"  placeholder="국가명" ng-model="globalActivityInfoItem.S_country">
        </div>

        <label for="lbl_global_activity_term" class="col-md-2 control-label">기간</label>
        <div class="col-md-2" id="lbl_global_activity_term">
            <button class="k-button" ng-click="lbl_global_activity_term_start.open()">{{globalActivityInfoItem.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~ <button class="k-button" ng-click="lbl_global_activity_term_end.open()">{{globalActivityInfoItem.T_term.end | date:"yyyy년 MM월 dd일"}}</button>
        </div>
        <div kendo-window="lbl_global_activity_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="globalActivityInfoItem.T_term.start" k-on-change="lbl_global_activity_term_start.close()"></kendo-calendar>
        </div>
        <div kendo-window="lbl_global_activity_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="globalActivityInfoItem.T_term.end" k-on-change="lbl_global_activity_term_end.close()"></kendo-calendar>
        </div>
    </div>

    <!--활동설명-->
    <div class="form-group">
        <label for="lbl_global_activity_description" class="col-md-2 control-label">활동설명</label>
        <div class="col-md-7" id="lbl_global_activity_description">
            <textarea class="form-control" rows="3" ng-model="globalActivityInfoItem.L_description"></textarea>
        </div>
    </div>

    <!--대표이미지-->
    <div class="form-group">
        <label for="lbl_global_activity_image" class="col-md-2 control-label">대표이미지</label>

        <div class="col-md-3" id="lbl_global_activity_image">
            <img src="../img/noImage.png" ng-model="globalActivityInfoItem.I_image"><br>
            <button class="btn btn-default">수정</button> <button class="btn btn-default">삭제</button>
        </div>
    </div>

    <!--첨부파일-->
    <div class="form-group">
        <label for="lbl_global_activity_file" class="col-md-2 control-label">첨부파일</label>

        <div class="col-md-3" id="lbl_global_activity_file">
            <input type="file" ng-model="globalActivityInfoItem.F_file">
        </div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addGlobalActivityInfo()">추가</button>
    </div>

    <hr>

    <div ng-repeat="item in globalActivityInfoItems track by $index">
        <!--국가명, 기간-->
        <div class="form-group row">
            <label for="lbl_global_activity_country_load" class="col-md-2 control-label">국가명</label>
            <div class="col-md-2" id="lbl_global_activity_country_load">
                <input type="text" class="form-control"  placeholder="국가명" ng-model="item.S_country">
            </div>

            <label for="lbl_global_activity_term_load" class="col-md-2 control-label">기간</label>
            <div class="col-md-2" id="lbl_global_activity_term_load">
                <button class="k-button" ng-click="lbl_global_activity_term_start.open()">{{item.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~ <button class="k-button" ng-click="lbl_global_activity_term_end.open()">{{item.T_term.end | date:"yyyy년 MM월 dd일"}}</button>
            </div>
            <div kendo-window="lbl_global_activity_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.start" k-on-change="lbl_global_activity_term_start.close()"></kendo-calendar>
            </div>
            <div kendo-window="lbl_global_activity_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.end" k-on-change="lbl_global_activity_term_end.close()"></kendo-calendar>
            </div>
        </div>

        <!--활동설명-->
        <div class="form-group">
            <label for="lbl_global_activity_description_load" class="col-md-2 control-label">활동설명</label>
            <div class="col-md-7" id="lbl_global_activity_description_load">
                <textarea class="form-control" rows="3" ng-model="item.L_description"></textarea>
            </div>
        </div>

        <!--대표이미지-->
        <div class="form-group">
            <label for="lbl_global_activity_image_load" class="col-md-2 control-label">대표이미지</label>

            <div class="col-md-3" id="lbl_global_activity_image_load">
                <img src="../img/noImage.png" ng-model="item.I_image"><br>
                <button class="btn btn-default">수정</button> <button class="btn btn-default">삭제</button>
            </div>
        </div>

        <!--첨부파일-->
        <div class="form-group">
            <label for="lbl_global_activity_file_load" class="col-md-2 control-label">첨부파일</label>

            <div class="col-md-3" id="lbl_global_activity_file_load">
                <input type="file" ng-model="item.F_file">
            </div>
        </div>
        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delGlobalActivityInfo($index)">삭제</button>
        </div>
    </div>
</form>