<form class="form-horizontal" role="form">
    <div class="col-md-12" style="margin: 20px 0 20px 0; font-size: 20px; font-weight: 700; color: #d53d3d; text-align: left">해외활동</div>

    <!--국가명, 기간-->
    <div class="form-group row">
        <label for="lbl_global_activity_country" class="col-md-2 control-label">국가명</label>
        <div class="col-md-2" id="lbl_global_activity_country">
            <input type="text" class="form-control"  placeholder="국가명" ng-model="globalActivityInfoItem.S_country">
        </div>

        <label for="lbl_global_activity_term" class="col-md-2 control-label">기간</label>
        <div id="lbl_global_activity_term" class="row">
            <!--시작 날짜-->
            <div class="col-md-2" style="padding-right: 0; width: 172px">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{globalActivityInfoItem.T_term.start | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="lbl_global_activity_term_start.center(); lbl_global_activity_term_start.open()">달력</button>
                    </span>
                </div>
            </div>
            <div class="col-md-1" style="width: 24px; height: 34px; line-height: 34px; padding: 0">~</div>
            <!--종료 날짜-->
            <div class="col-md-2" style="padding-left: 0; width: 172px">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{globalActivityInfoItem.T_term.end | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="lbl_global_activity_term_end.center(); lbl_global_activity_term_end.open()">달력</button>
                    </span>
                </div>
            </div>
        </div>
        <div kendo-window="lbl_global_activity_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="globalActivityInfoItem.T_term.start" k-on-change="lbl_global_activity_term_start.close()"></kendo-calendar>
        </div>
        <div kendo-window="lbl_global_activity_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="globalActivityInfoItem.T_term.end" k-on-change="lbl_global_activity_term_end.close()"></kendo-calendar>
        </div>
    </div>

    <!--활동설명-->
    <div class="form-group">
        <label for="lbl_global_activity_description" class="col-md-2 control-label">활동설명</label>
        <div class="col-md-9" id="lbl_global_activity_description">
            <textarea class="form-control" rows="3" ng-model="globalActivityInfoItem.S_description"></textarea>
        </div>
    </div>

    <!--대표이미지-->
    <div class="form-group">
        <label for="lbl_global_activity_image" class="col-md-2 control-label">대표이미지</label>

        <div class="col-md-3" id="lbl_global_activity_image">
            <img src="../img/noImage200x200.png" id="globalActivity_picture">
        </div>
    </div>

    <!--대표이미지 첨부-->
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-2 col-md-4" style="width: 290px">
                <input type="text" id="globalActivity_picture_upload" class="fileInputTextBorder form-control" readonly="readonly" accept=".jpg, .jpeg, .bmp, .png" ng-model = "fileName1"/>
            </div>
            <div class="col-md-1" style="padding-left: 0; text-align: left; width: 115px">
                <div class="fileInputDiv">
                    <input type="button" class="btn btn-default" value="파일첨부" class="fileInputButton" style="width: 100px"/>
                    <input type="file" class="fileInputHidden" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectGlobalActivityImage($files)"/>
                </div>
            </div>
        </div>
        <div id="globalActivity_picture_progressbar" class="col-md-offset-2 col-md-3" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="imageProgress" style="width: 230px; height: 8px; display: none;"></div>
    </div>

    <!--첨부파일-->
    <div class="form-group">
        <div class="row">
            <label for="lbl_global_activity_file" class="col-md-2 control-label">첨부파일</label>
            <!--<div class="row">-->
            <div class="col-md-4" style="width: 290px">
                <input type="text" id="lbl_global_activity_file" class="fileInputTextBorder form-control" readonly="readonly" ng-model = "fileName2"/>
            </div>
            <div class="col-md-1" style="padding-left: 0; text-align: left; width: 115px">
                <div class="fileInputDiv" >
                    <input type="button" class="fileInputButton btn btn-default" value="파일첨부" />
                    <input type="file" class="fileInputHidden" ng-file-select="onFileSelectGlobalActivityInfo($files)"/>
                </div>
            </div>
            <div class="col-md-1" style="padding-left: 0; text-align: left">
                <button class="btn btn-default" id="globalActivity_upload" ng-click="uploadGlobalActivityInfo()" style="display: none;">업로드</button>
            </div>
            <!--</div>-->
        </div>
        <!--첨부파일 프로그래스바-->
        <div id="globalActivity_progressbar" class="col-md-offset-2 col-md-4" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="width: 230px; height: 8px; display: none;"></div>
    </div>



    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addGlobalActivityInfo()">추가</button>
    </div>

    <hr style="border-color: #d6d6d6">

    <div ng-repeat="item in globalActivityInfoItems track by $index">
        <!--국가명, 기간-->
        <div class="form-group row">
            <label for="lbl_global_activity_country_load" class="col-md-2 control-label">국가명</label>
            <div class="col-md-2" id="lbl_global_activity_country_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_country}}</div>

            <label for="lbl_global_activity_term_load" class="col-md-2 control-label">기간</label>
            <div class="col-md-4" id="lbl_global_activity_term_load"  style="height: 34px; line-height: 34px; text-align: left">
                {{item.T_term.start | date:"yyyy.MM.dd"}} ~ {{item.T_term.end | date:"yyyy.MM.dd"}}
            </div>
        </div>

        <!--활동설명-->
        <div class="form-group">
            <label for="lbl_global_activity_description_load" class="col-md-2 control-label">활동설명</label>
            <div class="col-md-9" id="lbl_global_activity_description_load" style="text-align: left; line-height: 34px">{{item.S_description}}</div>
        </div>

        <!--대표이미지-->
        <div class="form-group">
            <label for="lbl_global_activity_image_load" class="col-md-2 control-label">대표이미지</label>

            <div class="col-md-3" id="lbl_global_activity_image_load">
                <div ng-show = "!item.I_image">
                    <img ng-src="../img/noImage200x200.png">
                </div>
                <div ng-show = "item.I_image">
                    <img ng-src="http://210.118.74.166:8123/image/symbol/thumb/{{item.I_image._id}}">
                </div>
            </div>
        </div>

        <!--첨부파일-->
        <div class="form-group">
            <label for="lbl_global_activity_file_load" class="col-md-2 control-label">첨부파일</label>

            <div class="col-md-5" id="lbl_global_activity_file_load">
                <div ng-show = "!item.F_file" style="text-align: left; line-height: 34px">없음</div>
                <div ng-show = "item.F_file" style="text-align: left; line-height: 34px"><a href="http://210.118.74.166:8123/file/{{item.F_file._id}}">{{item.F_file.originalName}}</a></div>
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delGlobalActivityInfo($index)">삭제</button>
        </div>
    </div>
</form>