<form class="form-horizontal" role="form">
    <div class="col-md-12" style="margin: 20px 0 20px 0; font-size: 20px; font-weight: 700; color: #d53d3d; text-align: left">경력</div>

    <div  class="col-md-12">
        <!-- 회사명, 구분 -->
        <div class="form-group row">
            <label for="lbl_working_name" class="col-md-2 control-label">회사명</label>
            <div class="col-md-5" id="lbl_working_name">
                <input type="text" class="form-control"  placeholder="회사명" ng-model="workingInfoItem.S_name">
            </div>

            <label for="lbl_working_hire_type" class="col-md-1 control-label">구분</label>
            <div class="col-md-2" id="lbl_working_hire_type">
                <select class="form-control" ng-model="workingInfoItem.S_hireType">
                    <option>정규직</option>
                    <option>계약직</option>
                    <option>병역특례</option>
                    <option>인턴</option>
                    <option>파견직</option>
                    <option>헤드헌팅</option>
                    <option>프리랜서</option>
                </select>
            </div>
        </div>

        <!-- 주소 -->
        <div class="form-group">
            <label for="lbl_working_address" class="col-md-2 control-label">회사 주소</label>
            <div class="col-md-8" id="lbl_working_address">
                <input type="text" class="form-control" placeholder="회사 주소" ng-model="workingInfoItem.S_address">
            </div>
        </div>

        <!-- 근무기간, 재직여부 -->
        <div class="form-group row">
            <label for="lbl_working_term" class="col-md-2 control-label">근무기간</label>
            <div id="lbl_working_term" class="col-md-6 row" style="width: 400px">
                <!--시작 날짜-->
                <div class="col-md-2" style="padding-right: 0; width: 161px">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{workingInfoItem.T_term.start | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="win_working_term_start.center(); win_working_term_start.open();" style="height: 34px; box-sizing: border-box"><img src="../img/information_img/calendarIcon.png" style="width: 16px; padding-bottom: 3px"/></button>
                    </span>
                    </div>
                </div>
                <div class="col-md-1" style="width: 24px; height: 34px; line-height: 34px; padding: 0">~</div>
                <!--종료 날짜-->
                <div class="col-md-2" style="padding-left: 0; width: 161px">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{workingInfoItem.T_term.end | date:'yyyy.MM.dd'}}" style="width: 105px"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button" ng-click="win_working_term_end.center(); win_working_term_end.open();" style="height: 34px; box-sizing: border-box"><img src="../img/information_img/calendarIcon.png" style="width: 16px; padding-bottom: 3px"/></button>
                    </span>
                    </div>
                </div>
            </div>

            <div kendo-window="win_working_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="workingInfoItem.T_term.start" k-on-change="win_working_term_start.close()"></kendo-calendar>
            </div>
            <div kendo-window="win_working_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="workingInfoItem.T_term.end" k-on-change="win_working_term_end.close()"></kendo-calendar>
            </div>

            <label for="lbl_working_resignation" class="col-md-1 control-label" style="width: 85px">재직여부</label>
            <div class="col-md-2" id="lbl_working_resignation" style="height: 34px">
                <label style="line-height: 34px"><input type="radio" name="disability" value="true" ng-model="workingInfoItem.B_resignation" value="재직">재직</input></label>
                <label style="line-height: 34px"><input type="radio" name="disability" value="false" ng-model="workingInfoItem.B_resignation" value="퇴직">퇴직</input></label>
            </div>

        </div>

        <!-- 직종, 부서 -->
        <div class="form-group row">
            <label for="lbl_working_job_type" class="col-md-2 control-label">직종</label>
            <div class="col-md-3" id="lbl_working_job_type" style="width: 190px">
                <input type="text" class="form-control"  placeholder="직종" ng-model="workingInfoItem.S_jobType" style="width: 160px">
            </div>

            <label for="lbl_working_department" class="col-md-1 control-label">부서</label>
            <div class="col-md-3" id="lbl_working_department" style="width: 190px">
                <input type="text" class="form-control"  placeholder="부서" ng-model="workingInfoItem.S_department" style="width: 160px">
            </div>
        </div>

        <!-- 직위, 직책 -->
        <div class="form-group">
            <label for="lbl_working_position" class="col-md-2 control-label">직위</label>
            <div class="col-md-3" id="lbl_working_position" style="width: 190px">
                <input type="text" class="form-control"  placeholder="직위" ng-model="workingInfoItem.S_position" style="width: 160px">
            </div>

            <label for="lbl_working_job_title" class="col-md-1 control-label">직책</label>
            <div class="col-md-3" id="lbl_working_job_title" style="width: 190px">
                <input type="text" class="form-control"  placeholder="직책" ng-model="workingInfoItem.S_jobTitle" style="width: 160px">
            </div>
        </div>


        <!-- 주요업무 -->
        <div class="form-group">
            <label for="lbl_working_business" class="col-md-2 control-label">주요업무</label>
            <div class="col-md-8" id="lbl_working_business">
                <textarea class="form-control" ng-model="workingInfoItem.S_business"></textarea>
            </div>
        </div>

        <!-- 주요성과 -->
        <div class="form-group">
            <label for="lbl_working_archive" class="col-md-2 control-label">주요성과</label>
            <div class="col-md-8" id="lbl_working_archive">
                <textarea class="form-control" ng-model="workingInfoItem.S_achive"></textarea>
            </div>
        </div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addWorkingInfo()">추가</button>
    </div>

    <hr style="border-color: #d6d6d6">

    <!--추가한 리스트 보여줌-->
    <div ng-repeat="item in workingInfoItems track by $index">
        <div  class="col-md-12">
            <!-- 회사명, 구분 -->
            <div class="form-group row">
                <label for="lbl_working_name_load" class="col-md-2 control-label">회사명</label>
                <div class="col-md-4" id="lbl_working_name_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_name}}</div>

                <label for="lbl_working_hire_type_load" class="col-md-1 control-label" style="width: 145px">구분</label>
                <div class="col-md-2" id="lbl_working_hire_type_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_hireType}}</div>
            </div>

            <!-- 주소 -->
            <div class="form-group">
                <label for="lbl_working_address_load" class="col-md-2 control-label">회사 주소</label>
                <div class="col-md-6" id="lbl_working_address_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_address}}</div>
            </div>

            <!-- 근무기간, 재직여부 -->
            <div class="form-group row">
                <label for="lbl_working_term_load" class="col-md-2 control-label">근무기간</label>
                <div class="col-md-4" id="lbl_working_term_load"  style="height: 34px; line-height: 34px; text-align: left">
                    {{item.T_term.start | date:"yyyy.MM.dd"}} ~ {{item.T_term.end | date:"yyyy.MM.dd"}}
                </div>


                <label for="lbl_working_resignation_load" class="col-md-2 control-label">재직여부</label>
                <div class="col-md-2" id="lbl_working_resignation_load" style="text-align: left; height: 34px; line-height: 34px">
                    <div ng-if="item.B_resignation">재직</div>
                    <div ng-if="!item.B_resignation">퇴직</div>
                </div>
            </div>

            <!-- 직종, 부서 -->
            <div class="form-group row">
                <label for="lbl_working_job_type_load" class="col-md-2 control-label">직종</label>
                <div class="col-md-2" id="lbl_working_job_type_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_jobType}}</div>

                <label for="lbl_working_department_load" class="col-md-1 control-label">부서</label>
                <div class="col-md-2" id="lbl_working_department_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_department}}</div>
            </div>

            <!-- 직위, 직책 -->
            <div class="form-group">
                <label for="lbl_working_position_load" class="col-md-2 control-label">직위</label>
                <div class="col-md-2" id="lbl_working_position_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_position}}</div>

                <label for="lbl_working_job_title_load" class="col-md-1 control-label">직책</label>
                <div class="col-md-2" id="lbl_working_job_title_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_jobTitle}}</div>
            </div>


            <!-- 주요업무 -->
            <div class="form-group">
                <label for="lbl_working_business_load" class="col-md-2 control-label">주요업무</label>
                <div class="col-md-8" id="lbl_working_business_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_business}}</div>
            </div>

            <!-- 주요성과 -->
            <div class="form-group">
                <label for="lbl_working_archive_load" class="col-md-2 control-label">주요성과</label>
                <div class="col-md-8" id="lbl_working_archive_load" style="text-align: left; height: 34px; line-height: 34px">{{item.S_achive}}</div>
            </div>
        </div>
        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delWorkingInfo($index)">삭제</button>
        </div>
    </div>
</form>