<div style="margin: 30px 0 10px 0">외국어능력</div>
<form class="form-horizontal" role="form">
    <!--외국어명-->
    <div class="form-group">
        <label for="lbl_proficiency_name" class="col-md-2 control-label">외국어명</label>
        <div class="col-md-2" id="lbl_proficiency_name">
            <input type="text" class="form-control" placeholder="외국어명" ng-model="proficiencyInfoItem.S_name">
        </div>
        <div class="col-md-2">
            <label><input type="checkbox" name="exam" ng-model="proficiencyInfoItem.B_exam">공인시험</label>
        </div>
    </div>

    <!--등록번호, 취득일자-->
    <div class="form-group row">
        <label for="lbl_proficiency_reg_number" class="col-md-2 control-label">등록번호</label>
        <div class="col-md-2" id="lbl_proficiency_reg_number">
            <input type="text" class="form-control" placeholder="등록번호" ng-model="proficiencyInfoItem.S_reg_number">
        </div>

        <label for="lbl_proficiency_date" class="col-md-2 control-label">취득일자</label>
        <div class="col-md-2" id="lbl_proficiency_date">
            <button class="k-button" ng-click="lbl_proficiency_date.center(); lbl_proficiency_date.open();">{{proficiencyInfoItem.D_date | date:"yyyy년 MM월 dd일"}}</button>
        </div>
        <div kendo-window="lbl_proficiency_date" k-title="'Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="proficiencyInfoItem.D_date" k-on-change="lbl_proficiency_date.close()"></kendo-calendar>
        </div>
    </div>

    <!--등급, 활용수준-->
    <div class="form-group row">
        <label for="lbl_proficiency_grade" class="col-md-2 control-label">등급</label>
        <div class="col-md-2" id="lbl_proficiency_grade">
            <input type="text" class="form-control" placeholder="등급" ng-model="proficiencyInfoItem.S_grade">
        </div>

        <label for="lbl_proficiency_proficiency" class="col-md-2 control-label">활용수준</label>
        <div class="col-md-2" id="lbl_proficiency_proficiency">
            <input type="text" class="form-control" placeholder="활용수준" ng-model="proficiencyInfoItem.S_proficiency">
        </div>
    </div>

    <!--첨부파일-->
    <div class="form-group">
        <label for="lbl_proficiency_file" class="col-md-2 control-label">첨부파일</label>

        <div class="col-md-3" id="lbl_proficiency_file">
            <input type="file" id="proficiency_file" ng-file-select="onFileSelectProficiencyInfo($files)">
        </div>

        <button type="btn btn-default col-md-2" id="proficiency_upload" ng-click="uploadProficiencyInfo()" style="display: none;">업로드</button>
    </div>

    <!--첨부파일 정보-->
    <div class="form-group">
        <div id="proficiency_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="display: none;"></div>
    </div>


    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addProficiencyInfo()">추가</button>
    </div>

    <hr>

    <div ng-repeat="item in proficiencyInfoItems track by $index">
        <!--외국어명-->
        <div class="form-group">
            <label for="lbl_proficiency_name_load" class="col-md-2 control-label">외국어명</label>
            <div class="col-md-2" id="lbl_proficiency_name_load">
                <input type="text" class="form-control" placeholder="외국어명" ng-model="item.S_name">
            </div>
            <div class="col-md-2">
                <label><input type="checkbox" name="exam" ng-model="item.B_exam">공인시험</label>
            </div>
        </div>

        <!--등록번호, 취득일자-->
        <div class="form-group row">
            <label for="lbl_proficiency_reg_number_load" class="col-md-2 control-label">등록번호</label>
            <div class="col-md-2" id="lbl_proficiency_reg_number_load">
                <input type="text" class="form-control" placeholder="등록번호" ng-model="item.S_reg_number">
            </div>

            <label for="lbl_proficiency_date_load" class="col-md-2 control-label">취득일자</label>
            <div class="col-md-2" id="lbl_proficiency_date_load">
                <button class="k-button" ng-click="lbl_proficiency_date.center(); lbl_proficiency_date.open();">{{item.D_date | date:"yyyy년 MM월 dd일"}}</button>
            </div>
            <div kendo-window="lbl_proficiency_date" k-title="'Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.D_date" k-on-change="lbl_proficiency_date.close()"></kendo-calendar>
            </div>
        </div>

        <!--등급, 활용수준-->
        <div class="form-group row">
            <label for="lbl_proficiency_grade" class="col-md-2 control-label">등급</label>
            <div class="col-md-2" id="lbl_proficiency_grade_load">
                <input type="text" class="form-control" placeholder="등급" ng-model="item.S_grade">
            </div>

            <label for="lbl_proficiency_proficiency_load" class="col-md-2 control-label">활용수준</label>
            <div class="col-md-2" id="lbl_proficiency_proficiency_load">
                <input type="text" class="form-control" placeholder="활용수준" ng-model="item.S_proficiency">
            </div>
        </div>

        <!--첨부파일-->
        <div class="form-group">
            <label for="lbl_proficiency_file_load" class="col-md-2 control-label">첨부파일</label>
            <div class="col-md-5" id="lbl_proficiency_file_load">
                <div ng-show = "!item.F_file">없음</div>
                <div ng-show = "item.F_file"><a href="http://210.118.74.166:8123/file/{{item.F_file._id}}">{{item.F_file.originalName}}</a></div>
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delProficiencyInfo($index)">삭제</button>
        </div>
    </div>

</form>