<div style="margin: 30px 0 10px 0">국내활동</div>
<form class="form-horizontal" role="form">
    <!--분류-->
    <div class="form-group">
        <label for="lbl_local_activity_category" class="col-md-2 control-label">분류</label>
        <div class="col-md-2" id="lbl_local_activity_category">
            <select class="form-control" ng-model="localActivityInfoItem.S_category">
                <option>교내</option>
                <option>교외</option>
            </select>
        </div>
    </div>

    <!--이름, 활동기간-->
    <div class="form-group">
        <label for="lbl_local_activity_name" class="col-md-2 control-label">이름</label>
        <div class="col-md-2" id="lbl_local_activity_name">
            <input type="text" class="form-control"  placeholder="이름" ng-model="localActivityInfoItem.S_name">
        </div>

        <label for="lbl_local_activity_term" class="col-md-2 control-label">활동기간</label>
        <div class="col-md-2" id="lbl_local_activity_term">
            <button class="k-button" ng-click="win_local_activity_term_start.center(); win_local_activity_term_start.open()">{{localActivityInfoItem.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~ <button class="k-button" ng-click="win_local_activity_term_end.center(); win_local_activity_term_end.open()">{{localActivityInfoItem.T_term.end | date:"yyyy년 MM월 dd일"}}</button>
        </div>
        <div kendo-window="win_local_activity_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="localActivityInfoItem.T_term.start" k-on-change="win_local_activity_term_start.close()"></kendo-calendar>
        </div>
        <div kendo-window="win_local_activity_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
            <kendo-calendar ng-model="localActivityInfoItem.T_term.end" k-on-change="win_local_activity_term_end.close()"></kendo-calendar>
        </div>
    </div>

    <!--활동설명-->
    <div class="form-group">
        <label for="lbl_local_activity_description" class="col-md-2 control-label">활동설명</label>
        <div class="col-md-7" id="lbl_local_activity_description">
            <textarea class="form-control" rows="3" ng-model="localActivityInfoItem.S_description"></textarea>
        </div>
    </div>

    <!--대표이미지-->
    <div class="form-group">
        <label for="lbl_local_activity_image" class="col-md-2 control-label">대표이미지</label>

        <div class="col-md-3" id="lbl_local_activity_image">
            <img src="../img/noImage200x200.png" id="localActivity_picture">

            <input type="file" id="localActivity_picture_upload" class="btn btn-default" accept=".jpg, .jpeg, .bmp, .png" ng-file-select="onFileSelectLocalActivityImage($files)"><br>
            <div id="localActivity_picture_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="imageProgress" style="display: none;"></div><br>
        </div>
    </div>

    <!--첨부파일-->
    <div class="form-group">
        <label for="lbl_local_activity_file" class="col-md-2 control-label">첨부파일</label>

        <div class="col-md-3" id="lbl_local_activity_file">
            <input type="file" id="localActivity_file" ng-file-select="onFileSelectLocalActivityInfo($files)">
        </div>

        <button type="btn btn-default col-md-2" id="localActivity_upload" ng-click="uploadLocalActivityInfo()" style="display: none;">업로드</button>
    </div>

    <!--첨부파일 정보-->
    <div class="form-group">
        <div id="localActivity_progressbar" kendo-progress-bar="progressBar" k-min="0" k-max="100" ng-model="progress" style="display: none;"></div>
    </div>

    <!--추가 버튼-->
    <div>
        <button type="button" class="btn btn-default" ng-click="addLocalActivityInfo()">추가</button>
    </div>

    <hr>

    <div ng-repeat="item in localActivityInfoItems track by $index">
        <!--분류-->
        <div class="form-group">
            <label for="lbl_local_activity_category_load" class="col-md-2 control-label">분류</label>
            <div class="col-md-2" id="lbl_local_activity_category_load">
                <select class="form-control" ng-model="item.S_category">
                    <option>교내</option>
                    <option>교외</option>
                </select>
            </div>
        </div>

        <!--이름, 활동기간-->
        <div class="form-group">
            <label for="lbl_local_activity_name_load" class="col-md-2 control-label">이름</label>
            <div class="col-md-2" id="lbl_local_activity_name_load">
                <input type="text" class="form-control"  placeholder="이름" ng-model="item.S_name">
            </div>

            <label for="lbl_local_activity_term_load" class="col-md-2 control-label">활동기간</label>
            <div class="col-md-2" id="lbl_local_activity_term_load">
                <button class="k-button" ng-click="win_local_activity_term_start.center(); win_local_activity_term_start.open()">{{item.T_term.start | date:"yyyy년 MM월 dd일"}}</button> ~ <button class="k-button" ng-click="win_local_activity_term_end.center(); win_local_activity_term_end.open()">{{item.T_term.end | date:"yyyy년 MM월 dd일"}}</button>
            </div>
            <div kendo-window="win_local_activity_term_start" k-title="'Start Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.start" k-on-change="win_local_activity_term_start.close()"></kendo-calendar>
            </div>
            <div kendo-window="win_local_activity_term_end" k-title="'End Date'" k-modal="true" k-resizable="false" k-visible="false">
                <kendo-calendar ng-model="item.T_term.end" k-on-change="win_local_activity_term_end.close()"></kendo-calendar>
            </div>
        </div>

        <!--활동설명-->
        <div class="form-group">
            <label for="lbl_local_activity_description_load" class="col-md-2 control-label">활동설명</label>
            <div class="col-md-7" id="lbl_local_activity_description_load">
                <textarea class="form-control" rows="3" ng-model="item.S_description"></textarea>
            </div>
        </div>

        <!--대표이미지-->
        <div class="form-group">
            <label for="lbl_local_activity_image_load" class="col-md-2 control-label">대표이미지</label>

            <div class="col-md-3" id="lbl_local_activity_image_load">
                <div ng-show = "!item.I_image">
                    <img ng-src="../img/noImage200x200.png">
                </div>
                <div ng-show = "item.I_image">
                    <img ng-src="http://210.118.74.166:8123/image/symbol/thumb/{{item.I_image._id}}">
                </div>
            </div>
        </div>

        <!--첨부파일-->
        <div class="form-group">
            <label for="lbl_local_activity_file_load" class="col-md-2 control-label">첨부파일</label>

            <div class="col-md-5" id="lbl_local_activity_file_load">
                <div ng-show = "!item.F_file">없음</div>
                <div ng-show = "item.F_file"><a href="http://210.118.74.166:8123/file/{{item.F_file._id}}">{{item.F_file.originalName}}</a></div>
            </div>
        </div>

        <!-- 삭제 버튼-->
        <div>
            <button type="button" class="btn btn-default" ng-click="delLocalActivityInfo($index)">삭제</button>
        </div>
    </div>
</form>